// banner.scss

.banner {
    --background: default;
    --color: inherit; 
    
    display: flex;
    padding: 12px;
    gap: 8px;
    background: var(--background);
    color: var(--color);

    &[aria-hidden=true] {
        display: none;
    }

    .icon_wrap {
        flex: 0 0 auto;
    }

        .icon {
            width: 20px;
            height: 20px;
            fill: currentColor;
        }

    .text {
        flex: auto;
    }

    &.alert {
        --background: var(--color-red-darker);
        --color: var(--color-red-light); 
    }
}