.button {
    --height: 40px;
    --padding: 8px;
    --font-size: 16px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--height);
    line-height: var(--height);
    padding-inline: var(--padding);
    border-radius: var(--corner-medium);
    color: var(--color-turquoise-100);
    font-size: var(--font-size);
    font-weight: var(--font-semibold);


    &.primary {
        background: var(--color-turquoise-600);
    }

    &.secondary {
        
    }

    &.ghost {

    }

    &.medium {
        --height: 48px;
        --padding: 12px;
        --font-size: 20px;
    }
}

.button_share {
    --height: 48px;
    
    display: inline-flex;
    align-items: center;
    gap: 4px;
    height: var(--height);
    padding: 0 16px;
    background: var(--color-turquoise-700);
    border-radius: calc(var(--height)/2);
    color: var(--color-turquoise-200);
    font-weight: var(--font-semibold);
    letter-spacing: 0.05em;

    .icon {
        width: 16px;
        height: 16px;
        fill: currentColor;
    }

    span {
        font-size: 14px;
        line-height: 1em;
        text-transform: uppercase;
    }
}