// buttonicon.scss

@use '../base/mixins' as *;

.button_icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: var(--area);
    height: var(--area);
    background: var(--bg);
    // border: solid 1px var(--border);
    color: var(--text);
    border-radius: var(--area);
    transition: all .3s ease;

    .icon {
        width: var(--icon);
        height: var(--icon);
        fill: currentColor;
        transition: all .3s ease;
    }

    &.primary {
        &:focus,
        &:hover {
            box-shadow: 0 0 0 2px var(--color-turquoise-700);
            color: var(--color-turquoise-300);
        }
    }

    &.ghost {
        --text: var(--color-button-text);

        &:focus,
        &:hover {
            color: var(--color-turquoise-300);
        }
    }

    &.secondary {
        --bg: var(--color-grey-700);
        --border: var(--color-grey-700);
        --text: var(--color-button-text);

        @include frozen_glass;
        @include gradient_border;

        position: relative;

        &:focus,
        &:hover {
            box-shadow: 0 0 0 2px var(--color-turquoise-700);
            color: var(--color-turquoise-300);
        }
    }

    &.xsmall {
        --area: 32px;
        --icon: 16px;
    }

    &.small {
        --area: 40px;
        --icon: 20px;
    }

    &.medium {
        --area: 48px;
        --icon: 24px;
    }

    &.large {
        --area: 72px;
        --icon: 40px;
    }
}