// chip.scss

@use '../base/mixins' as *;
@use '../base/typography' as *;

.chip {
    display: inline-flex;
    align-items: center;
    white-space: nowrap;

    &[aria-hidden=true] {
        display: none;
    }

    &.default,
    &.primary {
        .chip-text {
            padding: 2px 8px;
            border-radius: 26px;
            @include font(caption-regular-caps);
            text-transform: uppercase;
        }
    }
    
    &.default {
        .chip-text {
            @include frozen_glass;
            @include gradient_border;
            padding: 2px 8px;
            color: var(--color-text);
        }
    }

    &.primary {
        .chip-text {
            background: var(--color-turquoise-800);
            color: var(--color-turquoise-300);
        }
    }

    &.object_type {
        --bg: rgba(var(--color-white-rgb), .2);
        --color: var(--color-text);

        padding: 2px 8px;
        border-radius: 26px;
        background: var(--bg);
        color: var(--color);

        @each $type in (
            planets-moons,
            near-earth-objects,
            asteroids,
            comets,
            centaurs,
            trans-neptunian-objects,
            interstellar-objects,
            jupiter-trojans
        ) {
            &.#{$type} {
            --bg: color-mix(in srgb, var(--color-#{$type}) 20%, transparent);
            --color: var(--color-#{$type});
            }
        }

        .icon {
            fill: currentColor;
        }
    }
    
    &-icon {
        width: 24px;
        height: 24px;
    }
    
    &-text {
        display: block;        
        text-align: center;       
        user-select: none;
        white-space: nowrap;        
    }

    input[type=checkbox] {
        @include hidden;

        &:focus-visible + .chip-text {
            outline: auto;
        }
        
        &:checked + .chip-text {
            background: var(--color-turquoise-800);
            backdrop-filter: initial;
            color: var(--color-turquoise-300);

            &:before {
                content: initial;
            }
        }
    }
}