// filters.scss

@use '../base/mixins' as *;
@use '../base/typography' as *;

.filters {
    position: absolute;
    inset: 0;
    z-index: var(--z-filters);
    display: flex;
    flex-direction: column;
    background: var(--color-backdrop);
    backdrop-filter: blur(var(--backdrop-blur));

    @include media(medium) {
        inset: initial;
        top: 170px;
        left: 140px;
        width: 384px;
        background: initial;
        backdrop-filter: initial;
    }

    &[aria-hidden=true] {
        display: none;
    }

    &-head {
        flex: 0 0 auto;
        display: flex;
        justify-content: flex-end;
        padding: var(--site-margin-small);

        @include media(medium) {
            display: none;
        }
    }

    &-body {
        flex: auto;
    }

        &_card {
            border-radius: var(--corner-large);

            @include media(medium) {
                @include frozen_glass;
                @include gradient_border;
            }

            &-content {
                padding: 16px;
            }

                &-head {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .title {
                        @include font(subtitle-large-regular);
                        color: var(--color-text);
                    }
                }

                &-body {}

                    &_field {
                        display: flex;
                        flex-direction: column;
                        gap: 24px;
                        padding: 24px 0;

                        & + & {
                            border-top: solid 1px var(--color-border);
                        }

                        &-label {
                            display: flex;
                            align-items: baseline;
                            gap: 8px;
                            
                            .label {
                                flex: auto;
                                @include font(body-large);
                                color: var(--color-text);
                            }

                            .helper {
                                @include font(overline-medium-regular);
                                color: var(--color-text);
                            }
                        }

                        &-input {
                            .togglegroup {
                                width: 100%;
                            }
                        }
                    }
        }
}