// input.scss

@use '../base/mixins' as *;
@use '../base/typography' as *;

.input,
.select {
    position: relative;
    color: var(--color-text);
    // border: solid 1px transparent;
    @include frozen_glass;
    @include gradient_border;

    &-wrap {
        position: relative;
    }

        &-menu {
            position: absolute;
            top: calc(100% + 4px);
            right: 0;
            min-width: 100%;
            z-index: 1000;
            border-radius: var(--corner-medium);
            @include frozen_glass;
            @include gradient_border;

            &[aria-hidden=true] {
                display: none;
            }

            & {
                padding: 4px;
            }
        }


    &:focus-within {
        background: 
        linear-gradient(180deg, rgba(255,255,255,.20) 0%, rgba(255,255,255,.15) 100%),
        linear-gradient(180deg, rgba(0,0,0,.8) 0%, rgba(0,0,0,.8) 100%);
        // border-color: rgba(var(--color-white-rgb), .35);
        outline: solid 1px rgba(var(--color-white-rgb), .35);
    }
    
    input[type=search],
    input[type=url],
    select {
        width: 100%;
        height: 48px;
        padding: 12px 48px 12px 16px;
        color: inherit;
        caret-color: var(--color-turquoise-300);

        &:focus {
            outline: none;
        }
    }

    input[type=search] {
        &::-webkit-search-cancel-button {
            -webkit-appearance: none;
        }
    }

    select {
        appearance: none;
    }

    &-actions {
        position: absolute;
        right: 0;
        top: 0;
        display: flex;
        align-items: center;
    }

        .icon_wrap {
            display: flex;
            padding: 12px;
            pointer-events: none;

            &[aria-hidden=true] {
                display: none;
            }
        }

            .icon {
                width: 24px;
                height: 24px;
                fill: currentColor;
            }
}