// input.scss

@use '../base/mixins' as *;
@use '../base/typography' as *;

.input,
.select {
    position: relative;
    color: var(--color-text);
    border: solid 1px transparent;
    @include frozen_glass;
    @include gradient_border;


    &:focus-within {
        border-color: rgba(var(--color-white-rgb), .35);
    }
    
    input[type=search],
    input[type=url],
    select {
        width: 100%;
        height: 48px;
        padding: 12px 48px 12px 16px;
        color: inherit;
        caret-color: var(--color-turquoise-300);

        &:focus {
            outline: none;
        }
    }

    input[type=search] {
        &::-webkit-search-cancel-button {
            -webkit-appearance: none;
        }
    }

    select {
        appearance: none;
    }

    .button_wrap {
        position: absolute;
        right: 0;
        top: 0;
        flex: 0 0 auto;
        padding: 4px;

        &[aria-hidden=true] {
            display: none;
        }
    }

    .icon_wrap {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        padding: 12px 16px;
        pointer-events: none;

        &[aria-hidden=true] {
            display: none;
        }
    }

        .icon {
            width: 24px;
            height: 24px;
            fill: currentColor;
        }
}