// layout.scss

@use '../base/mixins' as *;

html,
body {
    height: 100vh;
    height: 100svh;
	@include scrollbar-custom;

    @include media(medium) {
		overflow: hidden;
	}

	&.scrollable {
		overflow-y: auto;
		overflow-x: hidden;
	}

	&.in-viewer {
		overflow: hidden; // Prevent scrolling in the viewer in mobile
	}
}