// layer.scss

@use '../base/mixins' as *;
@use '../base/typography' as *;

.layer {
    position: absolute;
    inset: 0;
    z-index: var(--z-objects);
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 100vh;
    overflow: auto;
    background: var(--color-backdrop);
    backdrop-filter: blur(var(--backdrop-blur));

    &[aria-hidden=true] {
        display: none;
    }

    @include media(medium) {
        gap: 40px;
    }

    &-head {
        flex: 0 0 auto;
        display: flex;
        justify-content: flex-end;
        padding: var(--site-margin-small);

        @include media(medium) {
            display: none;
        }
    }

    &-body {
        flex: auto;
        display: flex;
        flex-direction: column;
        gap: 24px;

        @include media(medium) {
            display: grid;
            grid-auto-flow: row;
            grid-template-rows: auto auto;
            gap: 48px;
        }
    }

    &-heading {
        flex: 0 0 auto;
        display: grid;
        grid-template-rows: auto auto; 
        grid-template-columns: calc(var(--toolbar-width) + var(--site-margin-small)) 1fr;
        gap: 24px 0;

        @include media(medium) {
            grid-template-rows: auto 1fr;
            gap: 48px 0;
        }

        .actions {
            display: flex;
            height: var(--header-height);
            padding-left: var(--site-margin-large);
            align-items: center;
            grid-row: 1/2;
            grid-column: 1/-1;

            @include media(medium) {
                grid-row: 1/2;
                grid-column: 2/-1;
                padding: var(--site-margin-small) var(--site-margin-small) 8px 0;
            }
        }

        .heading {
            grid-row: 2/-1;
            grid-column: 1/-1;

            align-self: flex-end;
            display: flex;
            flex-direction: column;
            gap: 8px;
            color: var(--color-text);
            padding: 0 var(--site-margin-large);

            @include media(medium) {
                padding: initial;
                grid-row: 2/-1;
                grid-column: 2/-1;
                gap: 16px;
            }
            
            .title {
                @include font(subtitle-large-regular);
            }
        }
    }

    &-content {
        flex: auto;
        width: 100%;
        overflow: hidden;
    }
}