// listitem.scss

@use '../base/mixins' as *;
@use '../base/typography' as *;

.listitem {
    &-content {
        @include reset_list;
    }

        &-group {
            padding: 8px;

            & + & {
                border-top: solid 1px var(--color-border);
            }
        }

            &-label {
                padding: 12px 8px;
                @include font(caption-semi-caps);
                color: var(--color-text);
            }

            &-list {
                @include reset_list;
            }

                &-item {}

                    &-field {
                        input[type=radio] {
                            @include hidden;
                            
                            &:checked + .listitem-link {
                                background: var(--color-turquoise-800);
                                color: var(--color-turquoise-300);

                                .label {
                                    @include font(body-medium-semi);
                                }

                                .value {
                                    color: var(--color-text);
                                }

                                .check {
                                    display: block;
                                    fill: var(--color-turquoise-400);
                                }
                            }
                        }
                    } 

                    &-link {
                        display: flex;
                        width: 100%;
                        align-items: flex-start;
                        padding: 4px 12px;
                        min-height: 40px;
                        gap: 8px;
                        border-radius: var(--corner-medium);
                        color: var(--color-link);

                        .text {
                            flex: auto;
                            display: flex;
                            flex-direction: column;
                            gap: 4px;
                        }

                        .heading {
                            flex: auto;
                            display: flex;
                            align-items: center;
                            padding-block: 4px;
                            gap: 8px;
                            
                            span {
                                svg {
                                    display: block;
                                }
                                &[aria-hidden=true] {
                                    display: none;
                                }
                            }
                        }

                            .label {
                                @include ellipsis;
                            }

                            .value {
                                padding-block: 4px;
                                color: var(--color-text-low);
                            }
                        
                        .details {
                            display: flex;
                            flex-direction: column;
                            // flex-wrap: wrap;
                            gap: 4px;
                            color: var(--color-text-low);
                        }
                        
                        .icon {
                            flex: 0 0 auto;
                            width: 24px;
                            height: 24px;
                            fill: currentColor
                        }

                        .check {
                            display: none;
                        }
                    
                    &:hover,
                    &:focus {
                        background: rgba(var(--color-white-rgb), .1);
                    }
                    
                    &.active,
                    &:active {
                        background: var(--color-turquoise-800);
                        color: var(--color-turquoise-300);

                        .label {
                            @include font(body-medium-semi);
                        }

                        .value {
                            color: var(--color-text);
                        }
                    }

                    &.active {
                        .check {
                            display: block;
                            fill: var(--color-turquoise-400);
                        }
                    }
                    }
}