// loader.scss

@use '../base/mixins' as *;
@use '../base/typography' as *;

.loader {
    position: fixed;
    inset: 0;
    z-index: var(--z-loader);
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-backdrop);
    backdrop-filter: blur(var(--backdrop-blur));
    opacity: 0;
    will-change: opacity;

    &[aria-hidden=true] {
        display: none;
    }

    &-content {
        display: flex;
        flex-direction: column;
        max-width: 400px;
        text-align: center;
        gap: 24px;
        align-items: center;
    }

        &-svg {
            animation: loader-rotate 3s linear infinite;

            svg {
                width: 93px;
                height: 96px;
                fill: var(--color-turquoise-400);

                @include media(medium) {
                    width: 125px;
                    height: 128px;
                }
            }
        } 
        
        &-text {
            @include font(body-medium-regular);
            color: var(--color-text);
        }
}

@keyframes loader-rotate {
    100% {
        transform: rotate(360deg);
    }
}