// map_controls.scss

@use '../base/mixins' as *;

.map_controls {
    --timemachine-gap: 12px;
    
    position: absolute;
    inset: 0;
    z-index: var(--z-map_controls);

    &[aria-hidden=true] {
        display: none;
    }
    
    &-buttons {
        position: absolute;
        right: var(--site-margin-large);
        bottom: calc(var(--site-margin-large) + var(--toolbar-height) + var(--timemachine-gap)*3 + var(--timemachine-height));
        display: flex;
        flex-direction: column;
        gap: 8px;

        @include media(medium) {
            bottom: var(--site-margin-large);
        }
    }

    &-fullscreen {
        display: none;
        
        @include media(medium) {
            display: flex;
        }
    }
}