// map_controls.scss

@use '../base/mixins' as *;

.map_controls {
    pointer-events: none;

    &[aria-hidden=true] {
        display: none;
    }
    
    &-buttons {
        display: flex;
        flex-direction: column;
        gap: 8px;
        pointer-events: initial;

        @include media(medium) {
            bottom: var(--site-margin-large);
        }
    }

    &-fullscreen {
        display: none;
        
        @include media(medium) {
            display: flex;
            pointer-events: initial;
        }
    }

    &--open {
        animation: mapControlsIn 0.5s ease-out forwards;
    }

    &--close {
        animation: mapControlsOut 0.5s ease-in forwards;
    }

    @keyframes mapControlsIn {
        from {
            opacity: 0;
            transform: translateX(48px);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    @keyframes mapControlsOut {
        from {
            opacity: 1;
            transform: translateX(0);
        }
        to {
            opacity: 0;
            transform: translateX(48px);
        }
    }
}