// navigation.scss

@use '../base/mixins' as *;
@use '../base/typography' as *;

.site-logo {
    position: fixed;
    top: var(--site-margin-small);
    left: var(--site-margin-small);
    z-index: var(--z-logo);
    box-sizing: content-box;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    pointer-events: initial;
    will-change: opacity;
    opacity: 0;

    @include media(medium) {
        top: var(--site-margin-xsmall);
        left: var(--site-margin-xsmall);
        padding: 12px;

        .logo {
            width: 72px;
            height: 44px;
        }
    }
}

.navigation {
    position: fixed;
    inset: 0 0 auto 0;
    height: var(--header-height);
    padding: var(--site-margin-small) var(--site-margin-small) 8px;
    z-index: var(--z-menu);
    display: flex;
    justify-content: flex-end;
    pointer-events: none;
    opacity: 0;
    will-change: opacity;

    &.sticky {
        backdrop-filter: blur(12px);
        border-bottom: solid 1px var(--color-border);
    }

    &-buttons {
        display: flex;
        gap: 8px;
        pointer-events: initial;
    }

    &--open {
        animation: navigationIn 0.3s ease-out forwards;
    }

    &--close {
        animation: navigationOut 0.3s ease-in forwards;
    }

    @keyframes navigationIn {
        from {
            opacity: 0;
            transform: translateY(-48px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes navigationOut {
        from {
            opacity: 1;
            transform: translateY(0);
        }
        to {
            opacity: 0;
            transform: translateY(-48px);
        }
    }
}

.nav_dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    width: calc(100% - 12*2px);
    max-width: 320px;
    margin: 0 var(--site-margin-small);
    @include frozen_glass;
    @include gradient_border;
    border-radius: var(--corner-large);
    overflow: hidden;

    &[aria-hidden=true] {
        display: none;
    }

    &-content {
        display: flex;
        transition: height .5s ease, transform .5s ease;
        @include scrollbar-hidden;
        @include scrollbar-custom;

        &.show-level-2 {
            transform: translateX(-100%);
        }
    }

        &_level {
            flex: 0 0 100%;
            min-width: 100%;
            border: solid 1px transparent;

            &-group {
                &[aria-hidden=true] {
                    display: none;
                }
            }

                &-head {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 4px;
                    color: var(--color-text);
                    border-bottom: solid 1px var(--color-border-strong);
                    
                    .icon {
                        flex: 0 0 auto;
                        width: 24px;
                        height: 24px;
                        fill: var(--color-link);
                    }

                    .title {
                        flex: auto;
                    }
                }

                &-body {
                    padding: 12px;
                }
        }
}