// objects.scss

@use '../base/mixins' as *;
@use '../base/typography' as *;

.objects {
    position: absolute;
    inset: 0;
    z-index: var(--z-objects);
    overflow: auto;
    background: var(--color-backdrop);
    backdrop-filter: blur(var(--backdrop-blur));
    display: flex;
    flex-direction: column;
    gap: 16px;

    &[aria-hidden=true] {
        display: none;
    }

    @include media(medium) {
        gap: 40px;
    }

    &-head {
        flex: 0 0 auto;
        display: flex;
        justify-content: flex-end;
        padding: var(--site-margin-small);

        @include media(medium) {
            display: none;
        }
    }

    &-body {
        flex: auto;
        display: flex;
        flex-direction: column;
        gap: 24px;

        @include media(medium) {
            gap: 48px;
            align-items: center;
            justify-content: center;
        }
    }

    &-heading {
        display: flex;
        flex-direction: column;
        gap: 8px;
        color: var(--color-text);
        padding: 0 var(--site-margin-large);

        @include media(medium) {
            gap: 16px;
        }
        
        .title {
            @include font(subtitle-large-regular);
        }
    }

    &-mask {
        width: 100%;
        overflow-x: auto;
        @include media(medium) {
            overflow: hidden;
        }
    }

        &-list {
            @include reset_list;
            min-width: 100%;
            display: flex;
            gap: 12px;
            padding: 0 var(--site-margin-large);
            will-change: transform;

            overflow-x: auto;
            scroll-snap-type: x mandatory;
            scroll-padding-left: var(--site-margin-large);

            @include media(medium) {
                overflow-x: visible;
            }

            &::-webkit-scrollbar {
                display: none;
            }  
        }

            &-item {
                width: 80vw;
                min-width: 320px;
                flex-shrink: 0;

                scroll-snap-align: start;

                &[aria-hidden=true] {
                    display: none;
                }
                
                
                @include media(medium) {
                    width: 36vw; // width: 20vw;
                }

                @include media(large) {
                    width: 23vw;
                }
            }

                &_card {
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    border-radius: var(--corner-medium);
                    @include frozen_glass;
                    @include gradient_border;
                    // padding: 4px;

                    &-label {
                        display: flex;
                        align-items: center;
                        gap: 16px;
                        padding: 8px 16px;
                        background: var(--color);
                        border-radius: var(--corner-medium) var(--corner-medium) 0 0;
                        color: var(--color-text);

                        &.planets_moons { --color: rgba(var(--color-planets-rgb), .3);}
                        &.near_earth_objects { --color: rgba(var(--color-near_earth-rgb), .3);}
                        &.asteroids { --color: rgba(var(--color-asteroids-rgb), .3);}
                        &.comets { --color: rgba(var(--color-comets-rgb), .3);}
                        &.centaurs { --color: rgba(var(--color-centaurs-rgb), .3);}
                        &.trans_neptunian_objects { --color: rgba(var(--color-trans_neptunian-rgb), .3);}
                        &.interstellar_objects { --color: rgba(var(--color-interstellar-rgb), .3);}
                        &.trojans { --color: rgba(var(--color-trojans-rgb), .3);}

                        .name {
                            flex: auto;
                            @include font(body-large);
                            @include ellipsis;
                            
                            @include media(large) {
                                @include font(subtitle-large-regular);
                            }
                        }

                        .icon {
                            flex: 0 0 auto;
                            width: 40px;
                            height: 40px;
                            fill: currentColor;
                        }
                    }

                    &-head {
                        position: relative;
                        aspect-ratio: 21/9;
                        border-radius: var(--corner-medium);
                        overflow: hidden;
                        background: var(--color-backdrop);

                        @include media(medium) {
                            aspect-ratio: 16/9;
                        }
                        
                        img {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    

                    &-body {
                        flex: auto;
                        display: flex;
                        flex-direction: column;
                        gap: 8px;
                        padding: 20px 16px; // padding: 16px;
                        color: var(--color-text-low); // color: var(--color-text); 
                        line-height: 24px;

                        @include media(medium) {
                            padding: 20px 16px;
                        }

                        .name {
                            @include font(subtitle-large-regular);
                            @include ellipsis;

                            @include media(medium) {
                                @include font(title);
                            }
                        }
                        
                        .stats {
                            display: flex;
                            gap: 8px;
                            color: var(--color-text-low);

                            &-column {
                                flex: auto;
                                display: flex;  
                                flex-direction: column;
                            }

                                &-value {
                                    @include font(subtitle-large-semi);
                                }

                                &-label {
                                    margin: 0;
                                    @include font(caption-regular);
                                }
                        }
                    }

                    &-foot {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 24px;
                        gap: 16px;
                        border-top: solid 1px var(--color-border);
                        span {
                            cursor: pointer;
                        }
                        .label {
                            color: var(--color-text-low);
                            @include font(body-medium-semi);
                            &.active {
                                color: var(--color-text);
                            }
                        }
                    }
                }
        
        &_controls {
            display: none;

            @include media(medium) {
                position: absolute;
                inset: 50% var(--site-margin-small) auto var(--site-margin-small);
                display: flex;
                justify-content: space-between;
                pointer-events: none;
            }

            .button_icon {
                pointer-events: initial;
                &.disabled {
                    opacity: 0;
                    will-change: opacity;
                    transition: opacity 0.2s ease-in-out;
                }
            }
        }
}