@use '../partials/mixins' as *;

.objects {
    position: absolute;
    inset: 0;
    z-index: var(--z-objects);
    overflow: auto;
    background: var(--color-backdrop);
    backdrop-filter: blur(8px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding: calc(var(--header-height) + 16px) 0 var(--site-margin-large);

    &[aria-hidden=true] {
        display: none;
    }

    @include media(medium) {
        gap: 40px;
    }

    &-heading {
        display: flex;
        flex-direction: column;
        gap: 16px;
        
        .title {

        }

        .subtitle {

        }
    }

    &-mask {
        width: 100%;
        overflow: auto;
     
        &::-webkit-scrollbar {
            display: none;
        }      
    }

        &-list {
            @include reset_list;
            min-width: 100%;
            display: flex;
            gap: 12px;
            padding: 0 calc(var(--site-margin-large)*2);
        }

            &-item {
                width: 30vw;
                min-width: 280px;
                flex-shrink: 0;
                min-height: 50vh;
            }

                &_card {
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    border-radius: var(--corner-medium);
                    @include frozen_glass;
                    @include gradient_border;
                    padding: 4px;

                    &-head {
                        img {
                            width: 100%;
                            aspect-ratio: 16/9;
                            object-fit: cover;
                            border-radius: var(--corner-medium);
                        }
                    }
                    

                    &-body {
                        flex: auto;
                        padding: 20px 16px;

                        .name {
                            color: var(--color-grey-100);
                        }

                        .description {
                            color: var(--color-grey-100);
                        }

                        .count {
                            color: var(--color-grey-100);
                        }
                    }

                    &-foot {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 24px;
                        gap: 16px;
                    }
                }
        
        &_controls {
            display: none;

            @include media(medium) {
                position: absolute;
                inset: 50% var(--site-margin-small) auto var(--site-margin-small);
                display: flex;
                justify-content: space-between;
                pointer-events: none;
            }
        }
}