// objects.scss

@use '../base/mixins' as *;
@use '../base/typography' as *;

.objects {
    position: absolute;
    inset: 0;
    z-index: var(--z-objects);
    height: 100vh;
    overflow: hidden;
    background: var(--color-backdrop);
    backdrop-filter: blur(var(--backdrop-blur));
    display: flex;
    flex-direction: column;
    gap: 16px;

    &[aria-hidden=true] {
        display: none;
    }

    @include media(medium) {
        gap: 40px;
    }

    &-head {
        flex: 0 0 auto;
        display: flex;
        justify-content: flex-end;
        padding: var(--site-margin-small);

        @include media(medium) {
            display: none;
        }
    }

    &-body {
        flex: auto;
        display: flex;
        flex-direction: column;
        gap: 24px;
        overflow: hidden;

        @include media(medium) {
            display: grid;
            grid-auto-flow: row;
            grid-template-rows: auto auto;
            gap: 48px;
        }
    }

    &-heading {
        flex: 0 0 auto;
        display: grid;
        grid-template-rows: auto auto; 
        grid-template-columns: calc(var(--toolbar-width) + var(--site-margin-small)) 1fr;
        gap: 24px 0;

        @include media(medium) {
            grid-template-rows: auto 1fr;
            gap: 48px 0;
        }

        .actions {
            display: flex;
            height: var(--header-height);
            padding-left: var(--site-margin-large);
            align-items: center;
            grid-row: 1/2;
            grid-column: 1/-1;

            @include media(medium) {
                grid-row: 1/2;
                grid-column: 2/-1;
                padding: var(--site-margin-small) var(--site-margin-small) 8px 0;
            }
        }

        .heading {
            grid-row: 2/-1;
            grid-column: 1/-1;

            align-self: flex-end;
            display: flex;
            flex-direction: column;
            gap: 8px;
            color: var(--color-text);
            padding: 0 var(--site-margin-large);

            @include media(medium) {
                padding: initial;
                grid-row: 2/-1;
                grid-column: 2/-1;
                gap: 16px;
            }
            
            .title {
                @include font(subtitle-large-regular);
            }
        }
    }

    &-mask {
        flex: auto;
        width: 100%;
        overflow: hidden;
    }

        &-list {
            @include reset_list;
            min-width: 100%;
            display: flex;
            height: 100%;
            gap: 12px;
            padding: 0 var(--site-margin-large) var(--site-margin-large);
            overflow-x: auto;
            overflow-y: hidden;
            scroll-snap-type: x mandatory;
            scroll-padding-left: var(--site-margin-large);
            // min-height: max-content;
            
            will-change: transform;
            @include scrollbar-hidden;

            @include media(medium) {
                height: unset;
                overflow-x: visible;
                overflow-y: visible;
                padding: 0 calc(var(--toolbar-width) + var(--site-margin-small));
                scroll-padding-left: calc(var(--toolbar-width) + var(--site-margin-small));
            }
        }

            &-item {
                width: 80vw;
                max-width: 320px;
                height: 100%;
                flex-shrink: 0;
                opacity: 0;
                will-change: opacity, transform;

                scroll-snap-align: start;

                &[aria-hidden=true] {
                    display: none;
                }
                
                
                @include media(medium) {
                    width: 36vw; // width: 20vw;
                    min-width: 320px;
                    max-width: initial;
                    height: unset;
                }

                @include media(large) {
                    width: 23vw;
                }
            }

                &_card {
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    border-radius: var(--corner-medium);
                    @include frozen_glass;
                    @include gradient_border;
                    // padding: 4px;

                    &-label {
                        flex: 0 0 auto;
                        display: flex;
                        align-items: center;
                        gap: 16px;
                        padding: 8px 16px;
                        background: var(--color);
                        border-radius: var(--corner-medium) var(--corner-medium) 0 0;
                        color: var(--color-text);

                        &.planets_moons { --color: color-mix(in srgb, var(--color-planets) 30%, transparent);}
                        &.near_earth_objects { --color: color-mix(in srgb, var(--color-near_earth) 30%, transparent);}
                        &.asteroids { --color: color-mix(in srgb, var(--color-asteroids) 30%, transparent);}
                        &.comets { --color: color-mix(in srgb, var(--color-comets) 30%, transparent);}
                        &.centaurs { --color: color-mix(in srgb, var(--color-centaurs) 30%, transparent);}
                        &.trans_neptunian_objects { --color: color-mix(in srgb, var(--color-trans_neptunian) 30%, transparent);}
                        &.interstellar_objects { --color: color-mix(in srgb, var(--color-interstellar) 30%, transparent);}
                        &.trojans { --color: color-mix(in srgb, var(--color-trojans) 30%, transparent);}

                        .name {
                            flex: auto;
                            @include font(body-large);
                            @include ellipsis;
                            
                            @include media(large) {
                                @include font(subtitle-large-regular);
                            }
                        }

                        .icon {
                            flex: 0 0 auto;
                            width: 40px;
                            height: 40px;
                            fill: currentColor;
                        }
                    }

                    &-head {
                        position: relative;
                        aspect-ratio: 21/9;
                        border-radius: var(--corner-medium);
                        overflow: hidden;
                        background: var(--color-backdrop);

                        @include media(medium) {
                            aspect-ratio: 16/9;
                        }
                        
                        img {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    

                    &-body {
                        position: relative;
                        flex: auto;
                        overflow: hidden;
                        
                        .scroll {
                            display: flex;
                            flex-direction: column;
                            height: 100%;
                            gap: 8px;
                            padding: 20px 16px; // padding: 16px;
                            overflow: auto;
                            color: var(--color-text-low); // color: var(--color-text); 
                            line-height: 24px;
                            mask: linear-gradient(to bottom, rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 0) 100%);
                        }
                        

                        @include media(medium) {
                            padding: 20px 16px;
                        }

                        .name {
                            @include font(subtitle-large-regular);
                            @include ellipsis;

                            @include media(medium) {
                                @include font(title);
                            }
                        }
                        
                        .stats {
                            display: flex;
                            gap: 8px;
                            color: var(--color-text-low);

                            &-column {
                                flex: auto;
                                display: flex;  
                                flex-direction: column;
                            }

                                &-value {
                                    @include font(subtitle-large-semi);
                                }

                                &-label {
                                    margin: 0;
                                    @include font(caption-regular);
                                }
                        }
                    }

                    &-foot {
                        flex: 0 0 auto;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 24px;
                        gap: 16px;
                        border-top: solid 1px var(--color-border);
                        span {
                            cursor: pointer;
                        }
                        .label {
                            color: var(--color-text-low);
                            @include font(body-medium-semi);
                            &.active {
                                color: var(--color-text);
                            }
                        }
                    }
                }
        
        &_controls {
            display: none;

            @include media(medium) {
                position: absolute;
                inset: 50% var(--site-margin-small) auto var(--site-margin-small);
                display: flex;
                justify-content: space-between;
                pointer-events: none;
            }

            .button_icon {
                pointer-events: initial;
                &.disabled {
                    opacity: 0;
                    will-change: opacity;
                    transition: opacity 0.2s ease-in-out;
                }
            }
        }
}