// rangeslider.scss

@use '../base/mixins' as *;
@use '../base/typography' as *;

.rangeslider {
    --slider-height: 40px;
    
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 0 24px;

    @include media(medium) {
        padding: 0 12px;
    }
    
    &_input {
        --track-height: 4px;
        
        position: relative;
        height: var(--slider-height);
        
        .track {
            position: absolute;
            inset: 50% 0 auto 0;
            margin-top: calc(-1*var(--track-height)/2);
            height: var(--track-height);
            // background: var(--color-grey-600);
            background: linear-gradient(-90deg, var(--color-turquoise-300) 0%, var(--color-turquoise-700) 50%, var(--color-turquoise-300) 100%);
            border-radius: var(--track-height);
        }

            .range {
                height: var(--track-height);
                background: var(--color-turquoise-700);
            }

            &-thumb {
                --size: 40px;
                
                position: absolute;
                top: 50%;
                margin: calc(-1*var(--size)/2) 0 0 calc(-1*var(--size)/2);
                display: flex;
                justify-content: center;
                align-items: center;
                width: var(--size);
                height: var(--size);
                border-radius: var(--size);
                cursor: grab;

                &:after {
                    content: '';
                    width: 20px;
                    height: 20px;
                    border-radius: 20px;
                    background: var(--color-turquoise-600);
                    border: solid 3px var(--color-turquoise-200);
                    transition: box-shadow .3s ease, background .3s ease;
                }
                
                .value {
                    position: absolute;
                    min-width: 100%;
                    transform: translateY(-28px);
                    user-select: none;
                }

                &:hover,
                &:focus {
                    &:after {
                        background: var(--color-turquoise-400);
                        box-shadow: 0 0 0 2px var(--color-turquoise-700);
                    }
                }
            }
    }

    &-labels {
        display: flex;
        justify-content: space-between;
        user-select: none;
        @include font(overline-medium-regular);
        color: var(--color-text);
    }
}