// scene_controls.scss

@use '../base/mixins' as *;
@use '../base/typography' as *;

.scene_controls {
    --timemachine-gap: 12px;
    
    position: fixed;
    right: var(--site-margin-large);
    bottom: calc(var(--toolbar-height) + var(--site-margin-large) + var(--timemachine-gap)*2);
    left: var(--site-margin-large);
    z-index: var(--z-scene_controls);
    display: grid;
    gap: 12px;
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr auto;
    pointer-events: none;

    @include media(medium) {
        bottom: var(--site-margin-large);
    }

    .togglegroup {
        grid-row: 1/2;
        grid-column: 1/-1;
        align-self: flex-end;
        justify-self: flex-start;
        pointer-events: initial;
        
        @include media(medium) {
            justify-self: center;
        }
    }

    .timemachine {
        grid-row: 2/-1;
        grid-column: 1/-1;
        align-self: flex-end;
        pointer-events: initial;

        @include media(medium) {
            grid-row: 2/-1;
            grid-column: 1/-1;
        }
    }

    .map_controls {
        grid-row: 1/2;
        grid-column: 2/-1;
        align-self: flex-end;
        pointer-events: initial;

        @include media(medium) {
            grid-row: 1/-1;
            grid-column: 2/-1;
        }
    }
}