// timemachine.scss

@use '../base/mixins' as *;
@use '../base/typography' as *;

.timemachine {
    --timemachine-head-height: 48px;
  
    border-radius: var(--corner-large);

    @include frozen_glass;
    @include gradient_border;

    @include media(medium) {
        max-width: var(--timemachine-width);
        margin: 0 auto;
    }

    &[aria-hidden=true] {
        display: none;
    }

    &:not(.collapsed) {
        min-height: var(--timemachine-height);

        .timemachine-toggle .button span {
            display: none;
        }

        .timemachine-body {
            display: block;
            padding: 8px 16px;
            border-top: solid 1px var(--color-border);
        }
    }

    &-head {
        display: flex;
        height: var(--timemachine-head-height);
        align-items: center;
    }

        &_heading {
            flex: auto;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            padding: 0 8px;

            .button_play {
                position: relative;
                flex: 0 0 auto;
                color: var(--color-turquoise-400);

                .icon_wrap-resume,
                .icon_wrap-pause {
                    position: absolute;
                    display: flex;
                    transition: opacity .3s ease;
                }

                &-resume {
                    .icon_wrap-pause {
                        opacity: 0;
                    }
                }

                &-pause {
                    .icon_wrap-resume {
                        opacity: 0;
                    }
                }
            }

            &-date {
                flex: auto;
                display: flex;
                gap: 8px;
                text-transform: uppercase;
                color: var(--color-button-text);

                input {
                    width: 100%;
                    padding: 4px 8px;
                    border-radius: var(--corner-medium);

                    &:hover {
                        background: var(--color-backdrop);
                    }
                }
            }
        }

        &-toggle {
            padding: 0 8px;
            border-left: solid 1px var(--color-border);

            .button span {
                @include font(caption-regular-caps);
                white-space: nowrap;
            } 

        }
    
    &-body {
        display: none;
    }

    &--open {
        animation: timeMachineIn 0.5s ease-out forwards;
    }

    &--close {
        animation: timeMachineOut 0.5s ease-in forwards;
    }

    @keyframes timeMachineIn {
        from {
            opacity: 0;
            transform: translateY(48px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes timeMachineOut {
        from {
            opacity: 1;
            transform: translateY(0);
        }
        to {
            opacity: 0;
            transform: translateY(48px);
        }
    }
}