@use '../partials/mixins' as *;

.togglegroup {
    --height: 32px; 
    
    display: inline-block;
    background: var(--color-grey-700);
    border-radius: var(--height);
    font-size: 14px;


    &.large {
        --height: 40px;
    }

    &-list {
        @include reset_list;
        display: flex;
    }

        &-item {
            flex: auto;

            label {
                display: block;
                
                span {
                    display: flex;
                    align-items: center;
                    min-width: var(--height);
                    height: var(--height);
                    padding-inline: calc(var(--height)/2);
                    border-radius: var(--height);                    
                    text-align: center;
                    color: var(--color-turquoise-400);
                    font-weight: var(--font-semibold);
                    user-select: none;
                }

                input {
                    @include hidden;

                    &:checked + span {
                        background: var(--color-turquoise-700);
                        color: var(--color-turquoise-200);
                    }
                }
            }
        }
}