// toolbar.scss

@use '../base/mixins' as *;
@use '../base/typography' as *;

.toolbar {
    position: absolute;
    right: var(--site-margin-large);
    bottom: var(--site-margin-large);
    left: var(--site-margin-large);
    height: var(--toolbar-max_height);
    z-index: var(--z-toolbar);
    border-radius: var(--corner-large);

    @include frozen_glass;
    @include gradient_border;

    @include media(medium) {
        top: var(--site-margin-xsmall);
        right: auto;
        bottom: auto;
        left: var(--site-margin-xsmall);
        width: var(--toolbar-width);
        height: auto;
    }

    &[aria-hidden=true] {
        display: none;
    }

    &-head {
        display: none;

        @include media(medium) {
            display: block;
            height: 64px;
            border-bottom: solid 1px var(--color-border);
        }
    }

    &-body {
        overflow: auto;
    }

        &-nav {
            @include reset_list;
            display: flex;

            @include media(medium) {
                flex-direction: column;
                padding: 4px 0;
            }

            > .toolbar-item {
                &:nth-child(1) {
                    width: 75%;
                    @include media(medium) {
                        width: unset;
                    }
                }

                &:nth-child(2) {
                    width: 25%;
                    @include media(medium) {
                        width: unset;
                    }
                }
            }
        }

        &-list {
            @include reset_list;
            display: flex;

            @include media(medium) {
                flex-direction: column;
            }
        }

            &-item {
                flex: auto;
                padding: 4px;
            }

                &-link {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 100%;
                    gap: 2px;
                    padding: 6px 8px;
                    border-radius: var(--corner-medium);
                    border: solid 1px transparent;
                    color: var(--color-button-text);
                    transition: all .3s var(--easing-default);
                    cursor: pointer;

                    &:focus,
                    &:hover {
                        background: rgba(var(--color-white-rgb), .1);
                        border-color: rgba(var(--color-white-rgb), .35);
                    }
                
                    &.active {
                        background: var(--color-button-bg-hover);
                        color: var(--color-button-text-hover);
                    }

                    .icon_wrap {
                        position: relative;
                        display: flex;

                        .badge {
                            --size: 8px;
                            position: absolute;
                            right: 0;
                            top: 0;
                            width: var(--size);
                            height: var(--size);
                            border-radius: calc(var(--size)/2);
                            background: var(--color-red-medium);
                        }
                    }

                    .icon {
                        width: 24px;
                        height: 24px;
                        fill: currentColor;
                    }

                    .label {
                        @include font(caption-regular);
                    }
                }
    
    &--open {
        animation: toolbarIn 0.5s ease-out forwards;
    }

    &--close {
        animation: toolbarOut 0.5s ease-in forwards;
    }

    @keyframes toolbarIn {
        from {
            opacity: 0;
            transform: translateY(48px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes toolbarOut {
        from {
            opacity: 1;
            transform: translateY(0);
        }
        to {
            opacity: 0;
            transform: translateY(48px);
        }
    }
}