// wizard.scss

@use '../base/mixins' as *;
@use '../base/typography' as *;

.wizard {
    --wizard-x: 0px;
    --wizard-y: 0px;
    --wizard-width: 0px;
    --wizard-height: 0px;
    --wizard-corner: var(--corner-large);

    position: absolute;
    inset: 0;
    z-index: var(--z-wizard);
    overflow: hidden;
    
    opacity: 1;
    will-change: opacity;
    transition: opacity .4s ease-in-out, display .4s allow-discrete;
    display: block;

    @starting-style {
        &[aria-hidden="false"] {
            opacity: 0;
        }
    }

    &[aria-hidden="true"] {
        opacity: 0;
        display: none;
    }

    &[aria-step="1"] [data-step="1"],
    &[aria-step="2"] [data-step="2"],
    &[aria-step="3"] [data-step="3"],
    &[aria-step="4"] [data-step="4"] {
        display: block;
    }

    [data-step] {
        display: none;
    }

    &[aria-step="1"] {
        .wizard_tooltip {
            left: 50%;
            transform: translateX(-50%);
            bottom: 101px;
            @include media(medium) {
                left: 143px;
                top: 110px;
                bottom: auto;
                transform: none;
            }
        }
    }
    
    &[aria-step="2"] {
        .wizard_tooltip {
            left: 50%;
            transform: translateX(-50%);
            bottom: 232px;
            @include media(medium) {
                bottom: 172px;
                transform: translateX(calc(-50% - 26px));
            }
        }
    }

    &[aria-step="3"] {
        .wizard_tooltip {
            left: 50%;
            transform: translateX(-50%);
            bottom: 380px;
            @include media(medium) {
                left: auto;
                right: calc(var(--site-margin-large) - 8px);
                bottom: 232px;
                transform: none;
            }
        }
    }

     &[aria-step="4"] {
        .wizard_tooltip {
            left: 50%;
            transform: translateX(-50%);
            top: 76px;
            @include media(medium) {
                left: auto;
                right: calc(var(--site-margin-small) - 8px);
                top: 86px;
                transform: none;
            }
        }
    }

    &-bg {
        position: absolute;
        inset: var(--wizard-y) 0 0 var(--wizard-x);
        width: var(--wizard-width);
        height: var(--wizard-height);
        z-index: 0;
        background-color: var(--color-backdrop);
        will-change: opacity;
        opacity: 0;
        border-radius: calc(var(--wizard-corner) + 3px);
    }

    &-mask {
        position: absolute;
        inset: 0;
        z-index: 1;

        mask: linear-gradient(black, black), linear-gradient(white, white);
        mask-composite: exclude;
        -webkit-mask-composite: xor;

        mask-position: 0 0, var(--wizard-x) var(--wizard-y);
        mask-size: 100% 100%, var(--wizard-width) var(--wizard-height);
        mask-repeat: no-repeat;

        background: rgba(0, 0, 0, 0.6);
    }

    &-focus {
        position: absolute;
        inset: var(--wizard-y) 0 0 var(--wizard-x);
        z-index: 2;
        width: var(--wizard-width);
        height: var(--wizard-height);
        border: solid 2px var(--color-turquoise-400);
        border-radius: calc(var(--wizard-corner) + 3px);
    }

    &_tooltip {
        position: absolute;
        z-index: 3;
        
        width: calc(100% - var(--site-margin-large) * 2 + 10px);
        border-radius: var(--corner-medium);
        pointer-events: all;
        
        @include frozen_glass;
        @include gradient_border;

        @include media(medium) {
            width: 382px;
        }

        padding: 12px;

        &-body {
            .heading {
                display: flex;
                padding: 8px;
                gap: 8px;
                @include font(caption-regular-caps);

                .title {
                    flex: auto;
                    color: var(--color-turquoise-300);
                }

                .steps {
                    color: var(--color-text);
                }
            }
            
            .description {
                padding: 8px;
                color: var(--color-text);
                @include font(body-large);
            }
        }

        &-foot {
            display: flex;
            justify-content: space-between;
            padding-top: 12px;
            gap: 12px;

            .button_group {
                display: flex;
                gap: 8px;
                button {
                    &.disabled {
                        display: none;
                    }
                    &:last-child {
                        min-width: 104px;
                    }
                }
            }

        }
    }
}