{% from '../components/buttonicon.njk' import ButtonIcon %}
{% from '../components/button.njk' import Button %}
{% from '../components/rangeslider.njk' import RangeSlider %}
{% from '../components/togglegroup.njk' import ToggleGroup %}

<section class="filters" aria-hidden="true">
    <header class="filters-head">
        {{ ButtonIcon('button_icon secondary medium', 'close') }}
    </header>
    <div class="filters-body">
        <div class="filters_card">
            <div class="filters_card-content">
                <div class="filters_card-head">
                    <h3 class="title">Filters</h3>
                    {{ Button('Reset', 'button secondary small') }}
                </div>
                <div class="filters_card-body">
                    <div class="filters_card_field">
                        <label class="filters_card_field-label">
                            <span for="" class="label">Discoveries</span>
                        </label>
                        <div class="filters_card_field-input">
                            {{ ToggleGroup('large', 'discoveries', ['all', 'vera', 'other'], 'Filter objects by discoverer') }}
                        </div>
                    </div>
                    
                    <div class="filters_card_field">
                        <label class="filters_card_field-label">
                            <span for="" class="label">Distance</span>
                            <span class="helper">In Astronomical Units</span>
                        </label>
                        <div class="filters_card_field-input">
                            {{ RangeSlider([000, 000], ['Min', 'Max']) }}
                        </div>
                    </div>

                    <div class="filters_card_field">
                        <label class="filters_card_field-label">
                            <span for="" class="label">Discovery date</span>
                        </label>
                        <div class="filters_card_field-input">
                            {{ RangeSlider([000, 000], ['Min', 'Max']) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>