{% from '../components/buttonicon.njk' import ButtonIcon %}
{% from '../components/button.njk' import Button %}
{% from '../components/rangeslider.njk' import RangeSlider %}
{% from '../components/togglegroup.njk' import ToggleGroup %}

<section class="filters" aria-hidden="true">
    <header class="filters-head">
        {{ ButtonIcon('button_icon secondary medium', 'close') }}
    </header>
    <div class="filters-body">
        <div class="filters_card">
            <div class="filters_card-content">
                <div class="filters_card-head">
                    <h3 class="title">{{ copy.filters.title[lang] }}</h3>
                    {{ Button(copy.filters.reset[lang], 'button secondary small') }}
                </div>
                <div class="filters_card-body">
                    <div class="filters_card_field">
                        <label class="filters_card_field-label">
                            <span for="" class="label">{{ copy.filters.discoveries[lang] }}</span>
                        </label>
                        <div class="filters_card_field-input">
                            {{ ToggleGroup('toggle-discoveries', 'large', 'discoveries', [copy.filters.toggle.all[lang], copy.filters.toggle.rubin[lang], copy.filters.toggle.other[lang]], 'all', true, copy.filters.toggle.aria[lang]) }}
                        </div>
                    </div>
                    
                    <div class="filters_card_field">
                        <label class="filters_card_field-label">
                            <span for="" class="label">{{ copy.filters.discoveries[lang] }}</span>
                            <span class="helper">{{ copy.filters.au[lang] }}</span>
                        </label>
                        <div class="filters_card_field-input">
                            {{ RangeSlider('slider-distance', [0, 100], [0, 100]) }}
                        </div>
                    </div>

                    <div class="filters_card_field">
                        <label class="filters_card_field-label">
                            <span for="" class="label">{{ copy.filters.discovery[lang] }}</span>
                        </label>
                        <div class="filters_card_field-input">
                            {{ RangeSlider('slider-date', [1900, 2025], [1900, 2025]) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>