{% from "./icons.njk" import icon %}
{% from '../components/button.njk' import Button %}
{% from '../components/object_card_graph.njk' import ObjectCardGraph %}

<section class="object_detail" role="main" aria-labelledby="guide_step-title" aria-hidden="false">
    <div class="object_detail-frame" aria-hidden="false"></div>
    <div class="object_detail-content"> {# style='transform: translateY(100%);' #}
        <div class="guide_step">
            <div class="guide_step-card">
                <header class="guide_step-head">
                    <h3 class="title" id="guide_step-title">Rubin's Cosmic Treasure Chest</h3>
                    <div class="steps" aria-label="Step 1 of 12" role="status">
                        <span aria-current="step">1</span> / <span>12</span>
                    </div>
                    <div class="progress" aria-hidden="true"><div class="current" style="width: 30%"></div></div>
                </header>
                <div class="guide_step-body">
                    <div class="guide_step-hero">
                        <img src="/assets/images/sample/Planets_and_Moons.png" alt="">
                    </div>
                    <div class="guide_step-content">
                        <h3 class="eyebrow">Introduction</h3>
                        <div class="guide_step-text">
                            <h2>Rubin's Cosmic Treasure Chest</h2>
                            <p>Explore some of the wonders inside</p>
                            <p>This stunning image contains the very first of many sets of cosmic treasures Rubin will bring us over the next decade.</p>
                            <p>The area observed for this image includes the southern region of the Virgo Cluster — approximately 55 million light-years from Earth in the direction of the constellation Virgo — as well as objects closer to us, like stars in the Milky Way, and objects farther away, like distant red galaxy groups.</p>
                            <p>We invite you to take a short tour, where we'll highlight just a few of the notable features Rubin has captured in its very first set of observations.</p>
                            <h2>Virgo Cluster</h2>
                            <p>This beautiful and still-growing galaxy cluster is home to more than a thousand galaxies, including everything from elegant spirals to massive ellipticals and faint dwarfs. Thanks to its size, variety and relative proximity, the Virgo Cluster offers a front-row view of what galaxy clusters are, how they evolve, and how they continue to grow over cosmic time.</p>
                            <h2>Rubin's Cosmic Treasure Chest</h2>
                            <p>Explore some of the wonders inside</p>
                            <p>This stunning image contains the very first of many sets of cosmic treasures Rubin will bring us over the next decade.</p>
                            <p>The area observed for this image includes the southern region of the Virgo Cluster — approximately 55 million light-years from Earth in the direction of the constellation Virgo — as well as objects closer to us, like stars in the Milky Way, and objects farther away, like distant red galaxy groups.</p>
                            <p>We invite you to take a short tour, where we'll highlight just a few of the notable features Rubin has captured in its very first set of observations.</p>
                            <h2>Virgo Cluster</h2>
                            <p>This beautiful and still-growing galaxy cluster is home to more than a thousand galaxies, including everything from elegant spirals to massive ellipticals and faint dwarfs. Thanks to its size, variety and relative proximity, the Virgo Cluster offers a front-row view of what galaxy clusters are, how they evolve, and how they continue to grow over cosmic time.</p>
                        </div>
                    </div>
                </div>
                <footer class="guide_step-foot">
                    <a href="#" class="button small ghost">
                        {{ icon('chevron-left')}}
                        <span>Guides</span>
                    </a>

                    <div class="nav">
                        <a href="#" class="button small ghost">
                            {{ icon('chevron-left')}}
                            <span>Previous</span>
                        </a>
                        <a href="#" class="button small primary">                        
                            <span>Next</span>
                            {{ icon('chevron-right')}}
                        </a>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</section>