{% from '../components/button.njk' import Button %}

<section class="home" aria-hidden="true">
    <div class="home-body">
        <div class="home-triad">
            <img src="/assets/images/rubin-nsf-doe-triad.png" alt="">
        </div>

        <div class="home-heading">
            <h1 class="title">Vera C. Rubin’s 3D Orbit Viewer</h1>
            <h2 class="subtitle">Mapping the Solar System Like Never Before</h2>
        </div>

        <div class="home-action">
            {{ Button('Start', 'button primary medium') }}
        </div>

        <div class="home-count">
            <p class="label">Discoveries Unveiled</p>
            <p class="value">745,259</p>
        </div>
    </div>

    <div class="home_foot">
        <ul class="home_foot-list">
            <li class="home_foot-item">
                <a href="">English</a>
            </li>
            <li class="home_foot-item">
                <a href="">Español</a>
            </li>
        </ul>
    </div>
</section>