{% from "../partials/icons.njk" import icon %}

<div class="map_controls">
    <div class="map_controls-buttons">
        <button class="map_controls-button button_icon secondary small">
            {{ icon('center') }}
        </button>
        <button class="map_controls-button button_icon secondary small">
            {{ icon('add') }}
        </button>
        <button class="map_controls-button button_icon secondary small">
            {{ icon('substract') }}
        </button>
        <button id="button-fullscreen" class="map_controls-button button_icon secondary small">
            {{ icon('fullscreen') }}
        </button>
    </div>
</div>