{% from "../components/buttonicon.njk" import ButtonIcon %}

<div class="map_controls" aria-hidden="true">
    <div class="map_controls-buttons">
        {{ ButtonIcon('map_controls-button button_icon secondary small', 'center') }}
        {{ ButtonIcon('map_controls-button button_icon secondary small', 'add') }}
        {{ ButtonIcon('map_controls-button button_icon secondary small', 'substract') }}
        {{ ButtonIcon('map_controls-button map_controls-fullscreen button_icon secondary small', 'fullscreen') }}
    </div>
</div>