{% from '../components/button.njk' import Button %}

<nav class="navigation" aria-label="{{ copy.navigation.aria[lang] }}">
    <div class="navigation-buttons">
        {{ Button(copy.navigation.share[lang], 'button_share', 'share') }}

        <div class="nav_dropdown_wrapper">
            <button type="button" class="button_icon secondary medium"
                id="nav_trigger"
                aria-expanded="false"
                aria-controls="nav_dropdown"
                aria-haspopup="true"
                tabindex="2"
            >
                {{ icon('menu') }}
            </button>

            <div id="nav_dropdown" class="nav_dropdown" aria-hidden="true">
                <ul class="listitem-content" role="menu">
                    <li class="listitem-group" role="group">
                        <h3 class="listitem-label">{{ copy.navigation.settings[lang] }}</h3>
                        <ul class="listitem-list">
                            <li class="listitem-item" role="menuitem" aria-describedby="language-value">
                                <a href="" class="listitem-link">
                                    <span class="heading">
                                        {{ icon('language') }}
                                        <span class="label">{{ copy.navigation.language[lang] }}</span>
                                    </span>
                                    <span class="value" id="language-value">English</span>
                                </a>
                            </li>
                            <li class="listitem-item" role="menuitem" aria-describedby="detail-value">
                                <a href="" class="listitem-link">
                                    <span class="heading">
                                        {{ icon('settings') }}
                                        <span class="label">{{ copy.navigation.exploration[lang] }}</span>
                                    </span>
                                    <span class="value" id="detail-value">Medium</span>
                                </a>
                            </li>
                            <li class="listitem-item" role="menuitem">
                                <a href="" class="listitem-link">
                                    <span class="heading">
                                        {{ icon('fullscreen') }}
                                        <span class="label">{{ copy.navigation.fullscreen[lang] }}</span>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="listitem-group" role="group">
                        <h3 class="listitem-label">Help</h3>
                        <ul class="listitem-list">
                            <li class="listitem-item" role="menuitem">
                                <a href="" class="listitem-link">
                                    <span class="heading">
                                        {{ icon('how_it_works') }}
                                        <span class="label">{{ copy.navigation.how_to_use[lang] }}</span>
                                    </span>
                                </a>
                            </li>
                            <li class="listitem-item" role="menuitem">
                                <a href="" class="listitem-link">
                                    <span class="heading">
                                        {{ icon('info') }}
                                        <span class="label">{{ copy.navigation.about[lang] }}</span>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>