<section class="object_detail" aria-hidden="true">
    <div class="object_detail-frame"></div>
    <div class="object_detail-content">
        <div class="object_card">
            <header class="object_card-head">
                button
            </header>
            <div class="object_card-body">
                <div class="object_card-content" style="height: 1000px">
                </div>
            </div>
        </div>
    </div>
</section>