{% from '../components/button.njk' import Button %}

<section class="onboarding" aria-hidden="true" role="main" aria-labelledby="onboarding-heading">
    <h2 class="onboarding-title" id="onboarding-heading">{{ copy.onboarding.title[lang] }}</h2>
    <div class="exploration">
        <ul class="exploration-list" role="radiogroup" aria-labelledby="onboarding-heading" aria-required="true">
            {% for key, mode in copy.exploration %}
            {% set ids = ['low', 'medium', 'high', 'ultra'] %}
            <li class="exploration-item" role="radio" aria-checked="false" tabindex="0" >
                <div class="exploration_card">
                    <div class="exploration_card-body">
                        <span class="ribbon" aria-hidden="true">{{ copy.onboarding.recommended[lang] }}</span>
                        <h3 class="name">{{ mode.name[lang] }}</h3>
                        <h4 class="title">{{ mode.title[lang] }}</h4>
                        <p class="description">{{ mode.description[lang] }}</p>
                        <p class="count">{{ mode.objects }} {{ copy.core.objects[lang] }}</p>
                    </div>
                    <div class="exploration_card-foot">
                        {# {{ Button('Launch', 'button secondary medium') }} #}
                        <a data-id="{{ids[loop.index0]}}" href="{{utils.void}}" class="button secondary medium button_launch"><span>{{ copy.onboarding.action[lang] }}</span></a>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    <p class="onboarding-info">{{ copy.onboarding.info[lang] }}</p>
</section>