{% from '../components/buttonicon.njk' import ButtonIcon %}
{% from '../components/button.njk' import Button %}
{% from '../components/rangeslider.njk' import RangeSlider %}
{% from '../components/togglegroup.njk' import ToggleGroup %}

<section class="search" aria-hidden="false">
    <header class="search-head">
        {{ ButtonIcon('button_icon secondary medium', 'close') }}
    </header>
    <div class="search-body">
        <div class="search_card">
            <div class="search_card-content">
                <div class="search_card-head">
                    <h3 class="title">Search</h3>
                </div>
                <div class="search_card-body">
                    <div class="input">
                        <input type="search" placeholder="Search by planet, object,..">
                    </div>
                    <div class="search_results">
                        <div class="search_results-group">
                            <h3 class="title">Recommended searches</h3>
                            <ul class="search_results-list">
                                <li class="search_results-item">
                                    <a href="">Earth</a>
                                </li>
                                <li class="search_results-item">
                                    <a href="">Mercury</a>
                                </li>
                                <li class="search_results-item">
                                    <a href="">Mars</a>
                                </li>
                                <li class="search_results-item">
                                    <a href="">Earth</a>
                                </li>
                                <li class="search_results-item">
                                    <a href="">Mercury</a>
                                </li>
                                <li class="search_results-item">
                                    <a href="">Mars</a>
                                </li>
                                <li class="search_results-item">
                                    <a href="">Earth</a>
                                </li>
                                <li class="search_results-item">
                                    <a href="">Mercury</a>
                                </li>
                                <li class="search_results-item">
                                    <a href="">Mars</a>
                                </li>
                                <li class="search_results-item">
                                    <a href="">Earth</a>
                                </li>
                                <li class="search_results-item">
                                    <a href="">Mercury</a>
                                </li>
                                <li class="search_results-item">
                                    <a href="">Mars</a>
                                </li>
                                <li class="search_results-item">
                                    <a href="">Earth</a>
                                </li>
                                <li class="search_results-item">
                                    <a href="">Mercury</a>
                                </li>
                                <li class="search_results-item">
                                    <a href="">Mars</a>
                                </li>
                                <li class="search_results-item">
                                    <a href="">Earth</a>
                                </li>
                                <li class="search_results-item">
                                    <a href="">Mercury</a>
                                </li>
                                <li class="search_results-item">
                                    <a href="">Mars</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>