{% from "icons.njk" import icon %}
{% from '../components/buttonicon.njk' import ButtonIcon %}
{% from '../components/button.njk' import Button %}
{% from '../components/rangeslider.njk' import RangeSlider %}
{% from '../components/togglegroup.njk' import ToggleGroup %}
{% from '../components/banner.njk' import Banner %}

<section class="search" aria-hidden="true">
    <header class="search-head">
        {{ ButtonIcon('button_icon secondary medium button_close', 'close') }}
    </header>
    <div class="search-body">
        <div class="search_card">
            <div class="search_card-content">
                <div class="search_card-head">
                    <h3 class="title">{{ copy.search.title[lang] }}</h3>
                </div>
                <div class="search_card-body">
                    <div class="input" focusable="true" tabindex="0">
                        <input id="search" type="search" placeholder="Search by planet, object,.." tabindex="-1">
                        <div class="button_wrap" aria-hidden="true">
                            {{ Button(copy.search.search_cloud.en, 'button primary small') }}
                        </div>
                        <div class="icon_wrap" aria-hidden="false">
                            {{ icon('search') }}
                        </div>
                    </div>
                    
                    {{ Banner(copy.search.not_found.en, 'alert', 'error') }}
                    
                    <div class="search_results">
                        <div class="listitem-group" role="group">
                            <h3 class="listitem-label">{{ copy.search.recommended_searches[lang] }}</h3>
                            <ul class="listitem-list">
                                {% set recommended_searches = [
                                    { name: "Earth", category: "Planets", id: "earth" },
                                    { name: "Mars", category: "Planets", id: "mars" },
                                    { name: "Apollo", category: "NEOs", id: "1932-ha" },
                                    { name: "Chariklo", category: "Centaurs", id: "1997-cu26" }
                                ] %}
                                {% for item in recommended_searches %}
                                    <li class="listitem-item" role="menuitem">
                                        <a href="/{{lang}}/object/?{{item.id}}" class="listitem-link">
                                            <span class="heading">
                                                <span class="name">{{ item.name }}</span>
                                            </span>
                                            {% if item.category %}
                                                <span class="value">{{ item.category }}</span>
                                            {% endif %}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>