{% from "../components/banner.njk" import Banner %}
{% from "../components/button.njk" import Button %}
{% from "../components/buttonicon.njk" import ButtonIcon %}
{% from "../components/togglegroup.njk" import ToggleGroup %}

<div class="share" role="dialog" aria-modal="true" aria-labelledby="share-title" aria-hidden="true">
    <div class="share_dialog">
        <div class="share_dialog-head">
            <h2 class="title" id="share-title">{{ copy.share.title[lang] }}</h2>
        </div>
        <div class="share_dialog-body">            
            <nav class="tab_list" aria-label="{{ copy.share.tabs.aria[lang] }}">
                <a href="#link" role="tab" aria-selected="true">
                    <span>{{ copy.share.tabs.link[lang] }}</span>
                </a>
                <a href="#screen_capture" role="tab" aria-selected="false">
                    <span>{{ copy.share.tabs.screen_capture[lang] }}</span>
                </a>
            </nav>

            <div id="link" role="tabpanel" aria-hidden="true">
                <div class="input_group">
                    <div class="input">
                        <input type="url" value="https://orbitviewer-client-dot-skyviewer.uw.r.appspot.com/?x=2&y=348" readonly>
                    </div>
                    <button type="button" class="button_copy">
                        <span class="button_copy-content">
                            <span class="button_copy-active">
                                {{ icon('check') }}
                                <span>{{ copy.share.tabs.copied[lang] }}</span>
                            </span>
                            <span class="button_copy-default">
                                {{ icon('download') }}
                                <span>{{ copy.share.tabs.copy[lang] }}</span>
                            </span>
                        </span>
                    </button>
                </div>
                <div class="social_share">
                    <p class="label">{{ copy.share.tabs.share_on[lang] }}</p>
                    <ul class="social_list">
                        <li class="social_list-item">
                            {{ ButtonIcon('button_icon button-fb small secondary', 'facebook') }}
                        </li>
                        <li class="social_list-item">
                            {{ ButtonIcon('button_icon button-x small secondary', 'x') }}
                        </li>
                        <li class="social_list-item">
                            {{ ButtonIcon('button_icon button-api small secondary', 'share') }}
                        </li>
                    </ul>
                </div>
            </div>

            <div id="screen_capture" role="tabpanel" aria-hidden="false">
                {{ Banner(copy.share.capture_banner[lang], 'informative', 'screenshot', 'false') }}
                
                <div class="screen_capture-hero horizontal">
                    <canvas id="shareCanvas"></canvas>
                </div>
                <div class="screen_capture-options">
                    {{ ToggleGroup('toggle-ratio', '', 'aspect_ratio', [copy.share.aspect_ratio.horizontal[lang], copy.share.aspect_ratio.vertical[lang], copy.share.aspect_ratio.square[lang]], copy.share.aspect_ratio.horizontal[lang])}}
                </div>
                <div class="screen_capture-actions">
                    <button type="button" class="button_download">
                        <span class="button_download-content">
                            <span class="button_download-active">
                                <span>{{ copy.share.generating[lang] }}</span>
                            </span>
                            <span class="button_download-default">
                                {{ icon('download') }}
                                <span>{{ copy.share.download[lang] }}</span>
                            </span>
                        </span>
                    </button>
                </div>
            </div>
        </div>

        {{ ButtonIcon('button_close button_icon medium ghost', 'close') }}
    </div>
</div>