{% from "../components/button.njk" import Button %}
{% from "../components/buttonicon.njk" import ButtonIcon %}
{% from "../components/togglegroup.njk" import ToggleGroup %}

<div class="share" role="dialog" aria-modal="true" aria-labelledby="share-title" aria-hidden="true">
    <div class="share_dialog">
        <div class="share_dialog-head">
            <h2 class="title" id="share-title">Share</h2>
        </div>
        <div class="share_dialog-body">
            <nav class="tab_list" aria-label="Tab navigation">
                <a href="#link" role="tab" aria-selected="true">
                    <span>Link</span>
                </a>
                <a href="#screen_capture" role="tab" aria-selected="false">
                    <span>Screen capture</span>
                </a>
            </nav>

            <div id="link" role="tabpanel" aria-hidden="true">
                <div class="input_group">
                    <div class="input">
                        <input type="url" value="https://orbitviewer-client-dot-skyviewer.uw.r.appspot.com/?x=2&y=348" readonly>
                    </div>
                    {{ Button('Copy', 'button primary medium', 'link') }}
                </div>
                <div class="social_share">
                    <p class="label">Share on</p>
                    <ul class="social_list">
                        <li class="social_list-item">
                            {{ ButtonIcon('button_icon small secondary', 'facebook') }}
                        </li>
                        <li class="social_list-item">
                            {{ ButtonIcon('button_icon small secondary', 'instagram') }}
                        </li>
                        <li class="social_list-item">
                            {{ ButtonIcon('button_icon small secondary', 'x') }}
                        </li>
                    </ul>
                </div>
            </div>

            <div id="screen_capture" role="tabpanel" aria-hidden="false">
                <div class="screen_capture-hero horizontal">
                    <img src="/assets/images/sample/screen_capture.png" alt="image">
                </div>
                <div class="screen_capture-options">
                    {{ ToggleGroup('', 'aspect_ratio', ['Horizontal', 'Vertical', 'Square'], 'Horizontal')}}
                </div>
                <div class="screen_capture-actions">
                    {{ Button('Download image', 'button primary medium', 'download') }}
                </div>
            </div>
        </div>

        {{ ButtonIcon('button_close button_icon medium ghost', 'close') }}
    </div>
</div>