{% from '../partials/icons.njk' import icon %}
{% from '../components/rangeslider.njk' import RangeSlider %}
{% from '../components/button.njk' import Button %}
{% from '../components/spinner.njk' import Spinner %}

<div class="timemachine" role="region" aria-hidden="true" data-wizard-step="2">
    <div class="timemachine-head">
        <div class="timemachine_heading">
            <button type="button" class="button_icon ghost xsmall button_play button_play-pause">
                <span class="icon_wrap-resume">{{ icon('play') }}</span>
                <span class="icon_wrap-pause">{{ icon('pause') }}</span>
                {{ Spinner() }}
            </button>
            <div class="timemachine_heading-date">
                <input type="text" id="myDateInput" aria-label="{{ copy.timemachine.aria[lang] }}">
            </div>
            <label for="live" class="chip default active">
                <input type="checkbox" id="live" checked disabled>
                <span class="chip-text">Live</span>
            </label>
        </div>
        <div class="timemachine-toggle">
            <button id="timemachine-toggle" type="button" 
                    class="button ghost xsmall" 
                    aria-expanded="true" 
                    aria-controls="timemachine_body"
                    aria-label="{{ copy.timemachine.toggle.aria[lang] }}">
                        <span>1S/S</span>
                        {{ icon('chevron-down')}}
            </button>
        </div>
    </div>
    <div class="timemachine-body" id="timemachine_body">
        <div class="content">
            {{ RangeSlider('slider-timemachine', [50], [0, 100], true) }}
        </div>
    </div>
</div>