<div class="toolbar" aria-hidden="true">
    <div class="toolbar-head" aria-hidden="true"></div>
    <div class="toolbar-body">
        <ul class="toolbar-list">
            <li class="toolbar-item">
                <a href="" class="toolbar-link" data-open="objects">
                    {{ icon('orbit') }}
                    <span>{{ copy.toolbar.objects[lang] }}</span>
                </a>
            </li>
            <li class="toolbar-item">
                <a href="" class="toolbar-link" data-open="filters">
                    {{ icon('filters') }}
                    <span>{{ copy.toolbar.filters[lang] }}</span>
                </a>
            </li>
            <li class="toolbar-item">
                <a href="" class="toolbar-link" data-open="search">
                    {{ icon('search') }}
                    <span>{{ copy.toolbar.search[lang] }}</span>
                </a>
            </li>
        </ul>
    </div>
</div>