<div class="toolbar" aria-hidden="true">
    <div class="toolbar-head" aria-hidden="true"></div>
    <div class="toolbar-body">
        <ul class="toolbar-nav">
            <li class="toolbar-item" data-wizard-step="1">
                <ul class="toolbar-list">
                    <li class="toolbar-item">
                        <a href="/{{lang}}/objects/" class="toolbar-link">
                            {{ icon('orbit') }}
                            <span class="label">{{ copy.toolbar.objects[lang] }}</span>
                        </a>
                    </li>
                    <li class="toolbar-item">
                        <button type="button" class="toolbar-link" data-open="filters">
                            {{ icon('filters') }}
                            <span class="label">{{ copy.toolbar.filters[lang] }}</span>
                        </button>
                    </li>
                    <li class="toolbar-item">
                        <button type="button" class="toolbar-link" data-open="search">
                            {{ icon('search') }}
                            <span class="label">{{ copy.toolbar.search[lang] }}</span>
                        </button>
                    </li>
                </ul>
            </li>
            <li class="toolbar-item" data-wizard-step="5">
                <a href="/{{lang}}/guided-experiences/" class="toolbar-link">
                    <span class="icon_wrap">
                        {{ icon('guides') }}
                        <span class="badge"></span>
                    </span>
                    <span class="label">{{ copy.toolbar.guides[lang] }}</span>
                </a>
            </li>
        </ul>
    </div>
</div>