---
layout: redirect
pageTemplate: landing
eleventyComputed:
  title: "{{ settings.title }}"
  description: "{{ settings.description }}"
  card: "{{ staticData.og.basePath }}{{ staticData.og.default }}"
  locale: "{{ staticData.locale[staticData.defaultLanguage] }}"
---
