---
layout: base
pageTemplate: landing
eleventyComputed:
  title: "{{ staticData.title }}"
  description: "{{ staticData.description }}"
---

<section class="terminal">
  <div class="content"></div>
</section>