---
layout: base
pageTemplate: landing
eleventyComputed:
  title: "{{ staticData.title }}"
  description: "{{ staticData.description }}"
---

{% from '../components/button.njk' import Button %}

<section class="onboarding" aria-hidden="false" role="main" aria-labelledby="onboarding-heading">
    <h2 class="onboarding-title" id="onboarding-heading">{{ copy.onboarding.title.en }}</h2>
    <div class="exploration">
        <ul class="exploration-list" role="radiogroup" aria-labelledby="onboarding-heading" aria-required="true">
            {% for key, mode in copy.onboarding.mode %}
            {% set recommended = 2 %}
            <li class="exploration-item {% if loop.index0 == recommended %}recommended{% endif %}" role="radio" aria-checked="false" tabindex="0" >
                <div class="exploration_card">
                    <div class="exploration_card-body">
                        {% if loop.index0 == recommended %}
                            <span class="ribbon">recommended</span>
                        {% endif %}
                        <h3 class="name">{{ mode.name.en }}</h3>
                        <h4 class="title">{{ mode.title.en }}</h4>
                        <p class="description">{{ mode.description.en }}</p>
                        <p class="count">{{ mode.objects.en }}</p>
                    </div>
                    <div class="exploration_card-foot">
                        {{ Button('Launch', 'button secondary medium') }}
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    <p class="onboarding-info">{{ copy.onboarding.info.en }}</p>
</section>