---
layout: base
pageTemplate: about
permalink: "/{{lang}}/about/"
eleventyComputed:
  title: "{{ staticData.title }}"
  description: "{{ staticData.description }}"
---

<section class="about-section about_heading">
  <div class="about_heading-header">
    <img src="/assets/images/rubin-nsf-doe-triad.png" alt="{{ copy.splash.logo.alt[lang] }}" class="hero">
  </div>
  <div class="about_heading-body">
    <div class="content">
      <div class="heading">
        <h1 class="title">About Orbitviewer</h1>
        <h2 class="subtitle">Welcome to NSF–DOE Rubin Observatory’s Orbitviewer</h2>
      </div>
      <div class="description">
        <p>This interactive visualization of the Solar System lets you explore the dynamic structure of our cosmic backyard in three dimensions, and over time.</p>
        <p>Zoom in, shift perspectives, and watch planets, asteroids, and other small bodies trace their orbits around the Sun from the year 1900 to 2100 — which offers a real-time sense of their motion.</p>
      </div>
    </div>
  </div>
</section>

<section class="about-section about_viewer">
  <div class="about_viewer-hero">
    <img src="/assets/images/about/about-viewer-large.png" alt="">
  </div>
  <div class="about_viewer-text">
    <p>Orbitviewer — powered by real data from the Minor Planet Center — is designed to showcase the incredible number of Solar System objects revealed by Rubin Observatory. In just one year of operations, Rubin will reveal more objects in our Solar System than humans have discovered in the past 150 years. As Rubin’s decade-long Legacy Survey of Space and Time (LSST) gets underway, Orbitviewer will help you explore and contextualize the millions of discoveries from Rubin.</p>
  </div>
</section>

<section class="about-section about_device">
  <div class="about_device-hero">
    <div class="device">
      <p class="count">500,000 objects</p>
      <div class="mask ratio-21-9"></div>
    </div>
    <nav class="tab_list">
      <a href="" role="tab" aria-selected="true">Gaming Pcs</a>
      <a href="" role="tab">High-end laptops</a>
      <a href="" role="tab">High-end mobiles</a>
      <a href="" role="tab">Mobiles</a>
    </nav>
  </div>
  <div class="about_device-text">
    <p>Orbitviewer adapts to your device — it has a mobile-friendly design and it’s customizable so you can set the number of objects you explore. No downloads required! You can choose between four different exploration modes, from a streamlined set of 16,000 objects optimized for mobile devices to a high-performance set of 1 million objects for powerful desktop machines.</p>
  </div>
</section>

<section class="about-section about_observatory">
  <div class="about_observatory-content">
    <p class="invite">We invite you to dive in and explore as Rubin Observatory reveals millions of new objects in our Solar System — revolutionizing what we know about our cosmic neighborhood, from what’s in it to how we got here.</p>
    <h2 class="title">NSF-DOE Rubin’s Observatory</h2>
    <div class="description">
      <p>This data visualization is a product of NSF–DOE Vera C. Rubin Observatory. This groundbreaking new observatory, located on Cerro Pachón in Chile, will revolutionize the way we explore the cosmos. Using an 8.4-meter telescope and the largest camera ever built, Rubin will repeatedly scan the sky for 10 years and create the greatest cosmic movie ever made. To learn more about the observatory and its science, visit rubinobservatory.org. </p>
      <p>NSF–DOE Vera C. Rubin Observatory is jointly funded by the U.S. National Science Foundation and the U.S. Department of Energy’s Office of Science. Rubin Observatory is a joint Program of NSF NOIRLab and DOE’s SLAC National Accelerator Laboratory.</p>
    </div>
  </div>
</section>

<section class="about-section about_credits">
  <div class="about_credits-content">
    <h2 class="title">Credits</h2>
    <div class="credits">
      <p>Orbitviewer is a product of the Rubin Observatory Education and Public Outreach team. Project lead: Stephanie Deppe. Design: José Pinto. Database and backend support: Eric Rosas, Blake Mason. Rubin EPO gratefully acknowledges feedback and input from members of Rubin Observatory’s Data Management team and the LSST Solar System Science Collaboration, particularly Mario Juric and Sarah Greenstreet.</p>
      <p>Fil Studio is a digital studio based in Barcelona, Spain, specialized in crafting tailored interactive experiences. As digital tailors, they merge design and development to shape unique and meaningful projects. For Orbitviewer, they collaborated closely with the AURA team, taking care of all aspects of the production to deliver a smooth, immersive, and thoughtful experience. The project was led by Edu Prats as director and developer, with Jordi Colomer as UX/UI designer and front-end developer, and Yolanda Moliner managing the studio and overseeing coordination.</p>
    </div>
    <p class="mpc">The data used for this visualization comes from the Minor Planet Center (MPC). The MPC is the single worldwide location for receipt and distribution of positional measurements of minor planets, comets and outer irregular natural satellites of the major planets. The MPC is responsible for the identification, designation and orbit computation for all of these objects. The MPC operates at the Smithsonian Astrophysical Observatory, under the auspices of Division F of the International Astronomical Union (IAU).</p>
  </div>
</section>