---
layout: base
pageTemplate: about
permalink: "/{{lang}}/about/"
eleventyComputed:
  title: "{{ staticData.title }}"
  description: "{{ staticData.description }}"
---

<div class="about">
  about
</div>