---
layout: base
pageTemplate: about
permalink: "/{{lang}}/about/"
eleventyComputed:
  title: "{{ settings[lang].title }} - {{ about[lang].title }}"
  description: "{{ about[lang].headerBody.plainText }}"
  card: "{{ staticData.og.basePath }}{{ staticData.og.default }}"
  locale: "{{ staticData.locale[lang] }}"
---

{% set content = about[lang] %}

<div class="about-page">
  <section class="about-section about_heading intersect_no-active">
    <div class="about_heading-header intersect-animation">
      <img src="/assets/images/rubin-nsf-doe-triad.png" alt="{{ copy.splash.logo.alt[lang] }}" class="hero">
    </div>
    <div class="about_heading-body">
      <div class="content">
        <div class="heading">
          <h1 class="title">{{ content.eyebrowText }}</h1>
          <h2 class="subtitle">{{ content.headerTitle }}</h2>
        </div>
        <div class="description">
          {{ content.headerBody.html | safe }}
        </div>
      </div>
    </div>
  </section>

  <section class="about-section about_viewer">
    <div class="about_viewer-hero">
      <div class="img_wrap">
        <img src="{{ content.introImage[0].url }}" alt="">
      </div>
    </div>
    <div class="about_viewer-text">
      {{ content.introBody.html | safe }}
    </div>
  </section>

  <section class="about-section about_device">
    <div class="about_device-hero">
      <div class="device">
        <div class="mask ratio-21-9">
          <p class="count" data-label="{value} objects">{{ content.ultraSettingCount }}</p>
          <div class="img_wrap">
            <img src="{{ content.ultraSettingImages[0].url }}" class="img-ratio-21-9" alt="">
            <img src="{{ content.highSettingImages[0].url }}" class="img-ratio-16-9" alt="">
            <img src="{{ content.mediumSettingImages[0].url }}" class="img-ratio-9-16" alt="">
            <img src="{{ content.lowSettingImages[0].url }}" class="img-ratio-2-3" alt="">
          </div>
        </div>
      </div>
      <nav class="tab_list">
        <button role="tab" data-ratio="21-9" data-objects="{{ copy.exploration.ultra.objects }}" aria-selected="true">{{ content.ultraSettingLabel }}</button>
        <button role="tab" data-ratio="16-9" data-objects="{{ copy.exploration.high.objects }}">{{ content.highSettingLabel }}</button>
        <button role="tab" data-ratio="9-16" data-objects="{{ copy.exploration.medium.objects }}">{{ content.mediumSettingLabel }}</button>
        <button role="tab" data-ratio="2-3" data-objects="{{ copy.exploration.low.objects }}">{{ content.lowSettingLabel }}</button>
      </nav>
    </div>
    <div class="about_device-text">
      {{ content.responsiveBody.html | safe }}
    </div>
  </section>

  <section class="about_observatory with-inner-sections">
      <div class="about_observatory-head">
        <div class="invite">
          {{ content.observatoryBody.html | safe }}
        </div>
        <h2 class="title">NSF-DOE Rubin Observatory</h2>
        <div class="bg">
          <div class="img_wrap">
              <picture>
                {% set oImage = content.observatoryImage[0] %}
                <source srcset="{{ oImage.urlLarge }}" media="(min-width: 1024px)">
                <source srcset="{{ oImage.urlMedium }}" media="(min-width: 768px)">
                <img src="{{ oImage.urlSmall }}" alt="">
              </picture>
          </div>
        </div>
      </div>
      <div class="about_observatory-body">
        <div class="content">
          <div class="text">
            {{ content.footerBody.html | safe }}
          </div>
          <div class="logos">
            <img src="/assets/images/rubin-nsf-doe-row.webp" alt="">
          </div>
        </div>
      </div>
  </section>

  <section class="about-section about_credits">
    <div class="about_credits-content">
      <h2 class="title">Credits</h2>
      <div class="credits">
        {# <p>Orbitviewer is a product of the NSF–DOE Vera C. Rubin Observatory Education and Public Outreach team. Orbitviewer showcases data made possible by the work of over a thousand people who designed, built, and now operate Rubin Observatory—bringing the wonders of the cosmos to you.</p>
        <p><a href="https://fil.studio/" fil-nomad-ignore>Fil Studio</a> is a digital studio based in Barcelona, Spain, specialized in crafting tailored interactive experiences. As digital tailors, they merge design and development to shape unique and meaningful projects. The project was led by Edu Prats as director and developer, with Jordi Colomer as UX/UI designer and front-end developer, Christian MacMillan for Front-End dev support, and Yolanda Moliner managing the studio and overseeing coordination.</p> #}
        {{ content.creditsText.html | safe }}
      </div>
      {# <p class="mpc">The data used for this visualization comes from the <a href="https://minorplanetcenter.net/" fil-nomad-ignore>Minor Planet Center</a> (MPC). The MPC is the single worldwide location for receipt and distribution of positional measurements of minor planets, comets and outer irregular natural satellites of the major planets. The MPC is responsible for the identification, designation and orbit computation for all of these objects. The MPC operates at the Smithsonian Astrophysical Observatory, under the auspices of Division F of the International Astronomical Union (IAU).</p> #}
    </div>
  </section>
</div>