---
layout: base
pageTemplate: how_to_use
permalink: "/{{lang}}/how-to-use/"
eleventyComputed:
  title: "{{ staticData.title }}"
  description: "{{ staticData.description }}"
---

<div class="how_to-page">
  <section class="how_to_heading">
    <div class="how_to_heading-body">
      <div class="content">
        <div class="heading">
          <h1 class="title">How to use</h1>
          <h2 class="subtitle">The different buttons and actions you can take with Orbitviewer</h2>
        </div>
        <nav class="how_to_nav">
          <a href="#how-to-navigating" class="how_to_nav-link">Navigating in 3D</a>
          <a href="#how-to-zoom" class="how_to_nav-link">Zoom</a>
          <a href="#how-to-center-view" class="how_to_nav-link">Center your view</a>
          <a href="#how-to-time-controls" class="how_to_nav-link">Time Controls</a>
          <a href="#how-to-filters" class="how_to_nav-link">Filters</a>
          <a href="#how-to-orbits" class="how_to_nav-link">Interactive Orbits</a>
          <a href="#how-to-search" class="how_to_nav-link">Search</a>
        </nav>
      </div>
    </div>
  </section>

  <section class="how_to_content">
    <article id="how-to-navigating" class="how_to_content-block">
      <div class="how_to_content-head">
        <h2 class="title">Navigating in 3D</h2>
      </div>
      <div class="how_to_content-body">
        <figcaption>
          <img src="" alt="">
          <figure>Click and drag (or tap and hold to drag) to rotate your view of the Solar System.</figure>
        </figcaption>
      </div>
    </article>

    <article id="how-to-zoom" class="how_to_content-block">
      <div class="how_to_content-head">
        <h2 class="title">Zoom</h2>
      </div>
      <div class="how_to_content-body">
        <figcaption>
          <img src="" alt="">
          <figure>Scroll your mouse wheel, pinch on a trackpad or touchscreen, or use the on-screen buttons to zoom in and out. You can explore individual objects up close or pull back to view the Solar System’s larger structure.</figure>
        </figcaption>
      </div>
    </article>

    <article id="how-to-center-view" class="how_to_content-block">
      <div class="how_to_content-head">
        <h2 class="title">Center your view</h2>
      </div>
      <div class="how_to_content-body">
        <figcaption>
          <img src="" alt="">
          <figure>Lost in space? Click the Recenter View button to snap the camera back to the default view of the Solar System, centered on the Sun. Great for reorienting after zooming or rotating your view.</figure>
        </figcaption>
      </div>
    </article>

    <article id="how-to-time-controls" class="how_to_content-block">
      <div class="how_to_content-head">
        <h2 class="title">Time Controls</h2>
      </div>
      <div class="how_to_content-body">
        <figcaption>
          <img src="" alt="">
          <figure>Use the time slider left or right to move backward or forward through time from the year 1900 to 2100. Dragging the slider farther to the left or right will speed up the passage of time. Try clicking or tapping the date label to bring up a calendar and view the Solar System on a date of your choosing (your birthday, perhaps?). You can always reset the date and time slider to the current time by clicking or tapping “Live.”</figure>
        </figcaption>
      </div>
    </article>

    <article id="how-to-filters" class="how_to_content-block">
      <div class="how_to_content-head">
        <h2 class="title">Filters</h2>
      </div>
      <div class="how_to_content-body">
        <figcaption>
          <img src="" alt="">
          <figure>Toggle different object types (e.g., planets, asteroids, comets, near-Earth objects) to customize what you see. You can also adjust orbit path visibility, highlight objects discovered by Rubin Observatory,  and customize other display settings for enhanced or simpler exploration.</figure>
        </figcaption>
      </div>
    </article>

    <article id="how-to-orbits" class="how_to_content-block">
      <div class="how_to_content-head">
        <h2 class="title">Interactive Orbits</h2>
      </div>
      <div class="how_to_content-body">
        <figcaption>
          <img src="" alt="">
          <figure>Click on any object with a label to highlight its orbit and view details about it like name, type, and orbital characteristics. Some objects also include contextual information.</figure>
        </figcaption>
      </div>
    </article>

    <article id="how-to-search" class="how_to_content-block">
      <div class="how_to_content-head">
        <h2 class="title">Search</h2>
      </div>
      <div class="how_to_content-body">
        <figcaption>
          <img src="" alt="">
          <figure>Use the search to find a specific object by name or designation. Orbitviewer will center and highlight it automatically. Orbitviewer will first search within the set of objects in your chosen exploration mode. If the object you’re searching for isn’t present, Orbitviewer will search our cloud database and, if found, display the search result.</figure>
        </figcaption>
      </div>
    </article>
  </section>
</div>