---
layout: base
pageTemplate: how_to_use
permalink: "/{{lang}}/how-to-use/"
eleventyComputed:
  title: "{{ staticData.title }}"
  description: "{{ staticData.description }}"
---

<div class="how_to-page">
  <section class="how_to_heading">
    <div class="how_to_heading-body">
      <div class="content">
        <div class="heading">
          <h1 class="title">How to use</h1>
          <h2 class="subtitle">The different buttons and actions you can take with Orbitviewer</h2>
        </div>
        <nav class="how_to-nav">
          <a href="#navigating">Navigating in 3D</a>
          <a href="#zoom">Zoom</a>
          <a href="#center-view">Center your view</a>
          <a href="#time-controls">Time Controls</a>
          <a href="#filters">Filters</a>
          <a href="#orbits">Interactive Orbits</a>
          <a href="#search">Search</a>
          <a href="#language">Choose your language</a>
        </nav>
      </div>
    </div>
  </section>

  <section class="how_to_content">
    <article id="navigating" class="how_to_content-block">
      <div class="how_to_content-head">
        <h2 class="title">Navigating in 3D</h2>
      </div>
      <div class="how_to_content-body">
        <figcaption>
          <img src="" alt="">
          <caption>bla</caption>
        </figcaption>
      </div>
    </article>

    <article id="zoom" class="how_to_content-block">
      <div class="how_to_content-head">
        <h2 class="title">Zoom</h2>
      </div>
      <div class="how_to_content-body">
        <figcaption>
          <img src="" alt="">
          <caption>bla</caption>
        </figcaption>
      </div>
    </article>

    <article id="center-view" class="how_to_content-block">
      <div class="how_to_content-head">
        <h2 class="title">Center your view</h2>
      </div>
      <div class="how_to_content-body">
        <figcaption>
          <img src="" alt="">
          <caption>bla</caption>
        </figcaption>
      </div>
    </article>

    <article id="time-controls" class="how_to_content-block">
      <div class="how_to_content-head">
        <h2 class="title">Time Controls</h2>
      </div>
      <div class="how_to_content-body">
        <figcaption>
          <img src="" alt="">
          <caption>bla</caption>
        </figcaption>
      </div>
    </article>

    <article id="filters" class="how_to_content-block">
      <div class="how_to_content-head">
        <h2 class="title">Filters</h2>
      </div>
      <div class="how_to_content-body">
        <figcaption>
          <img src="" alt="">
          <caption>bla</caption>
        </figcaption>
      </div>
    </article>

    <article id="orbits" class="how_to_content-block">
      <div class="how_to_content-head">
        <h2 class="title">Interactive Orbits</h2>
      </div>
      <div class="how_to_content-body">
        <figcaption>
          <img src="" alt="">
          <caption>bla</caption>
        </figcaption>
      </div>
    </article>

    <article id="search" class="how_to_content-block">
      <div class="how_to_content-head">
        <h2 class="title">Search</h2>
      </div>
      <div class="how_to_content-body">
        <figcaption>
          <img src="" alt="">
          <caption>bla</caption>
        </figcaption>
      </div>
    </article>

    <article id="language" class="how_to_content-block">
      <div class="how_to_content-head">
        <h2 class="title">Choose your language</h2>
      </div>
      <div class="how_to_content-body">
        <figcaption>
          <img src="" alt="">
          <caption>bla</caption>
        </figcaption>
      </div>
    </article>
  </section>
</div>