---
layout: base
pageTemplate: how_to_use
permalink: "/{{lang}}/how-to-use/"
eleventyComputed:
  title: "{{ settings[lang].title }} - {{ howto[lang].title }}"
  description: "{{ howto[lang].headerText }}"
  card: "{{ staticData.og.basePath }}{{ staticData.og.default }}"
  locale: "{{ staticData.locale[staticData.defaultLanguage] }}"
---

{% set content = howto[lang] %}

<div class="how_to-page">
  <section class="how_to_heading intersect_no-active">
    <div class="how_to_heading-body">
      <div class="content">
        <div class="heading">
          <h1 class="title">{{ content.eyebrowText }}</h1>
          <h2 class="subtitle">{{ content.headerText }}</h2>
        </div>
        <nav class="how_to_nav">
          {% for item in content.howToUseSection %}
          <a href="#section-{{loop.index0}}" class="how_to_nav-link">{{ item.sectionTitle }}</a>
          {% endfor %}
          {# <a href="#how-to-navigating" class="how_to_nav-link">Navigating in 3D</a>
          <a href="#how-to-zoom" class="how_to_nav-link">Zoom</a>
          <a href="#how-to-center-view" class="how_to_nav-link">Center your view</a>
          <a href="#how-to-time-controls" class="how_to_nav-link">Time Controls</a>
          <a href="#how-to-filters" class="how_to_nav-link">Filters</a>
          <a href="#how-to-orbits" class="how_to_nav-link">Interactive Orbits</a>
          <a href="#how-to-search" class="how_to_nav-link">Search</a>
          <a href="#how-to-language" class="how_to_nav-link">Choose your language</a> #}
        </nav>
      </div>
    </div>
  </section>

  <section class="how_to_content with-inner-sections">
    {% for item in content.howToUseSection %}
    <article id="section-{{loop.index0}}" class="how_to_content-block intersect_no-active">
      <div class="how_to_content-head">
        <h2 class="title">{{ item.sectionTitle }}</h2>
      </div>
      <div class="how_to_content-body">
        <figcaption>
          <figure>{{ item.sectionBody.plainText }}</figure>
          {# <img src="/assets/images/how-to-use/how-to-navigating.webp" alt=""> #}
          <img src="{{ item.sectionImage[0].url }}" alt="">
        </figcaption>
      </div>
    </article>
    {% endfor %}
    {# <article id="how-to-navigating" class="how_to_content-block intersect_no-active">
      <div class="how_to_content-head">
        <h2 class="title">Navigating in 3D</h2>
      </div>
      <div class="how_to_content-body">
        <figcaption>
          <figure>Click and drag (or tap and hold to drag) to rotate your view of the Solar System.</figure>
          <img src="/assets/images/how-to-use/how-to-navigating.webp" alt="">
        </figcaption>
      </div>
    </article>

    <article id="how-to-zoom" class="how_to_content-block">
      <div class="how_to_content-head">
        <h2 class="title">Zoom</h2>
      </div>
      <div class="how_to_content-body">
        <figcaption>          
          <figure>Scroll your mouse wheel, pinch on a trackpad or touchscreen, or use the on-screen buttons to zoom in and out. You can explore individual objects up close or pull back to view the Solar System’s larger structure.</figure>
          <img src="/assets/images/how-to-use/how-to-zoom.webp" alt="">
        </figcaption>
      </div>
    </article>

    <article id="how-to-center-view" class="how_to_content-block">
      <div class="how_to_content-head">
        <h2 class="title">Center your view</h2>
      </div>
      <div class="how_to_content-body">
        <figcaption>
          <figure>Lost in space? Click the Recenter View button to snap the camera back to the default view of the Solar System, centered on the Sun. Great for reorienting after zooming or rotating your view.</figure>
          <img src="/assets/images/how-to-use/how-to-center-view.webp" alt="">
        </figcaption>
      </div>
    </article>

    <article id="how-to-time-controls" class="how_to_content-block">
      <div class="how_to_content-head">
        <h2 class="title">Time Controls</h2>
      </div>
      <div class="how_to_content-body">
        <figcaption>          
          <figure>Use the time slider left or right to move backward or forward through time from the year 1900 to 2100. Dragging the slider farther to the left or right will speed up the passage of time. Try clicking or tapping the date label to bring up a calendar and view the Solar System on a date of your choosing (your birthday, perhaps?). You can always reset the date and time slider to the current time by clicking or tapping “Live.”</figure>
          <img src="/assets/images/how-to-use/how-to-time-controls.webp" alt="">
        </figcaption>
      </div>
    </article>

    <article id="how-to-filters" class="how_to_content-block">
      <div class="how_to_content-head">
        <h2 class="title">Filters</h2>
      </div>
      <div class="how_to_content-body">
        <figcaption>          
          <figure>Toggle different object types (e.g., planets, asteroids, comets, near-Earth objects) to customize what you see. You can also adjust orbit path visibility, highlight objects discovered by Rubin Observatory,  and customize other display settings for enhanced or simpler exploration.</figure>
          <img src="/assets/images/how-to-use/how-to-filters-2.webp" alt="">
        </figcaption>
      </div>
    </article>

    <article id="how-to-orbits" class="how_to_content-block">
      <div class="how_to_content-head">
        <h2 class="title">Interactive Orbits</h2>
      </div>
      <div class="how_to_content-body">
        <figcaption>
          <figure>Click on any object with a label to highlight its orbit and view details about it like name, type, and orbital characteristics. Some objects also include contextual information.</figure>
          <img src="/assets/images/how-to-use/how-to-orbits-2.webp" alt="">
        </figcaption>
      </div>
    </article>

    <article id="how-to-search" class="how_to_content-block">
      <div class="how_to_content-head">
        <h2 class="title">Search</h2>
      </div>
      <div class="how_to_content-body">
        <figcaption>
          <figure>Use the search to find a specific object by name or designation. Orbitviewer will center and highlight it automatically. Orbitviewer will first search within the set of objects in your chosen exploration mode. If the object you’re searching for isn’t present, Orbitviewer will search our cloud database and, if found, display the search result.</figure>
          <img src="/assets/images/how-to-use/how-to-search-2.webp" alt="">
        </figcaption>
      </div>
    </article>

    <article id="how-to-language" class="how_to_content-block">
      <div class="how_to_content-head">
        <h2 class="title">Choose your language</h2>
      </div>
      <div class="how_to_content-body">
        <figcaption>
          <img src="/assets/images/how-to-use/how-to-search-2.webp" alt="">
          <figure>Orbitviewer is available in both English and Spanish. You may select your language on the landing page, or you may also choose your language using the language selector in the hamburger menu at the top right.</figure>
        </figcaption>
      </div>
    </article> #}
  </section>
</div>