---
layout: base
pageTemplate: orbitviewerpage
permalink: "/{{lang}}/"
eleventyComputed:
  title: "{{ settings[lang].title }}"
  description: "{{ settings[lang].description }}"
  card: "{{ staticData.og.basePath }}{{ staticData.og.default }}"
  locale: "{{ staticData.locale[lang] }}"
---

{% from "../../../partials/icons.njk" import icon %}
{% from "../../../components/modal.njk" import Modal %}
{% from "../../../components/toast.njk" import Toast %}
{% from "../../../components/loader.njk" import Loader %}

{% include 'splash.njk' %}
{% include 'onboarding.njk' %}

{% include 'wizard.njk' %}

{{ Modal(copy.modal.title[lang], copy.modal.description[lang]) }}
{{ Toast(copy.toast.max_date.message[lang], '', copy.toast.max_date.aria[lang], true) }}

{% include 'toolbar.njk' %}
{% include 'filters.njk' %}
{% include 'search.njk' %}