---
layout: base
pageTemplate: objectviewerpage
permalink: "/{{lang}}/"
eleventyComputed:
  title: "{{ staticData.title }}"
  description: "{{ staticData.description }}"
---

{% from "../../../partials/icons.njk" import icon %}
{% from "../../../components/modal.njk" import Modal %}
{% from "../../../components/toast.njk" import Toast %}
{% from "../../../components/loader.njk" import Loader %}

{% include 'splash.njk' %}
{% include 'onboarding.njk' %}

{{ Loader() }}

{% include 'wizard.njk' %}

{{ Modal(copy.modal.title[lang], copy.modal.description[lang]) }}
{{ Toast(copy.toast.max_date.message[lang], '', copy.toast.max_date.aria[lang], true) }}

{% include 'toolbar.njk' %}
{% include 'filters.njk' %}
{% include 'search.njk' %}