---
layout: base
pageTemplate: object
permalink: "/{{lang}}/object/"
eleventyComputed:
  title: "{{ settings.title }}"
  description: "{{ settings.description }}"
  card: "{{ staticData.og.basePath }}{{ staticData.og.default }}"
  locale: "{{ staticData.locale[lang] }}"
---

{% include "../../../partials/object.njk" %}