// guide.scss

@use '../base/mixins' as *;
@use '../base/typography' as *;

.guide_step {
    @include media(medium) {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        --object-top-margin: calc(var(--site-margin-large) + 56px);
        position: absolute;
        inset: var(--object-top-margin) auto var(--site-margin-small) var(--site-margin-small);
        width: calc(100% - var(--site-margin-small));
        max-width: 620px;
        min-height: initial;
        overflow: hidden;        
    }
    
    &-card {
        position: relative;
        display: flex;
        flex-direction: column;
        max-height: 100%;
        border-radius: var(--corner-large) var(--corner-large) 0 0;
        @include gradient_border;

        &:after {
            content: '';
            position: absolute;
            inset: 0;
            z-index: -1;
            @include frozen_glass;
        }

         @include media(medium) {
            border-radius: var(--corner-large);
        }
    }

    &-head {
        position: relative;
        flex: 0 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px;
        color: var(--color-text);

        .title {
            @include ellipsis;
        }

        .steps {
            white-space: nowrap;
        }

        .progress {
            position: absolute;
            inset: auto 0 -2px 0;
            z-index: 2;
            height: 2px;
            background: color-mix(in srgb, var(--color-black) 20%, transparent);

            .current {
                position: absolute;
                inset: 0 auto 0 0;
                width: 0;
                background: var(--color-turquoise-300);
                transition: width 500ms ease-out;
            }
        }
    }

    &-body {
        flex: auto;
        padding-bottom: 72px;

        @include media(medium) {
            @include scroll-mask;
            padding-bottom: 56px;
        }
    }

        &-hero {
            position: relative;
            aspect-ratio: 16/9;
            width: 100%;

            &[aria-hidden=true] {
                display: none;
            }

            img {
                position: absolute;
                inset: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &-content {
            display: flex;
            flex-direction: column;
            gap: 8px;
            padding: 24px;
            color: var(--color-text-low);

            .eyebrow {
                @include font(caption-semi-caps);
                color: var(--color-turquoise-300);
            }
        }

            &-text {
                max-width: 70ch;
                
                h2 {
                    @include font(headline);
                    color: var(--color-text);
                }

                > * {
                    & + h2 { margin-top: 32px;}
                    & + p { margin-top: 16px;}
                }
            }

    &-foot {
        position: fixed;
        inset: auto 0 0 0;
        flex: 0 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: solid 1px var(--color-border);
        @include frozen_glass;

        & {
            padding: 16px;
        }

        @include media(medium) {
            position: unset;
            inset: unset;
        }

        .nav {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 8px;

            a[data-enabled=false] {
                opacity: .5;
                pointer-events: none;
            }
        }
    }
}