@use '../partials/mixins' as *;
@use '../partials/typography' as *;

.home {
    position: absolute;
    inset: 0;
    z-index: var(--z-detail);
    background: rgba(0,0,0,.8);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr auto;
    gap: 24px;
    padding: calc(var(--header-height) + 16px) var(--site-margin-large) var(--site-margin-large);

    @include media(medium) {
        grid-template-columns: repeat(12,1fr);
    }

    &[aria-hidden=true] {
        display: none;
    }

    &-body {
        grid-row: 1/2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 24px;

        @include media(medium) {
            grid-column: 4/10;
        }
    }

        &-triad {
            padding-top: 32px;
            
            img {
                display: block;
                width: 100%;
                max-width: 256px;
            }
        }

        &-heading {
            display: flex;
            flex-direction: column;
            gap: 12px;
            align-items: center;
            text-align: center;
            color: var(--color-text);

            @include media(medium) {
                gap: 24px;
            }

            .title {
                @include font(body-large);
                @include media(medium) {
                    @include font(subtitle-large-regular);
                }
            }

            .subtitle {
                @include font(headline);
                @include media(medium) {
                    @include font(hero);
                }
            }
        }

        &-action {
            .button {
                min-width: 168px;
            }
        }

        &-count {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 32px;
            text-align: center;
            color: var(--color-text);

            .label {
                @include font(caption-regular);
            }

            .value {
                @include font(subtitle-large-regular);
                @include media(medium) {
                    @include font(headline);
                }   
            }
        }

    &_foot {
        grid-row: 2/-1;        
        display: flex;
        justify-content: center;

        @include media(medium) {
            grid-column: span 12;
            justify-content: flex-end;
        }
        
        &-list {
            @include reset_list;
            display: flex;
        }

            &-item {
                padding: 0 12px;

                & + & {
                    position: relative;
                    
                    &:before {
                        content: '';
                        position: absolute;
                        inset: 2px auto 2px 0;
                        width: 1px;
                        background: var(--color-turquoise-500);
                    }
                }
                
                a {
                    color: var(--color-turquoise-200);
                }
            }
    }
}