// how_to_use.scss

@use '../base/mixins' as *;
@use '../base/typography' as *;

.how_to {
    &-page {
        position: relative;
        min-height: 100vh;
        min-height: 100svh;
        z-index: var(--z-static);
        background: var(--color-bg);
    }
    
    &_heading {
        padding-top: calc(var(--header-height) + 24px);
        background-image: url(/assets/images/about/about-header-bg-small.png);
        background-size: 768px auto;
        background-repeat: no-repeat;
        background-position: center top;
        background-color: var(--color-bg);

        @include media(medium) {
            padding-top: calc(var(--header-height) + 40px);
            background-image: url(/assets/images/about/about-header-bg-large.png);
            background-size: 1440px auto;
        }
        
        &-body {
            padding-inline: 16px;

            @include media(small) {
                display: grid;
                grid-template-columns: repeat(12, 1fr);
                gap: 24px;
            }

            @include media(medium) {
                padding-inline: 32px;
            }
            
            .content {
                display: flex;
                flex-direction: column;
                gap: 40px;
                text-align: center;

                @include media(small) {
                    grid-column: 2/12;
                }

                @include media(large) {
                    grid-column: 4/10;
                }
            }

            .heading {
                display: flex;
                flex-direction: column;
                gap: 24px;
            }

                .title {
                    color: var(--color-text-low);
                    @include font(subtitle-large-regular); 
                }

                .subtitle {
                    color: var(--color-text);

                    @include font(headline);
                    @include media(medium) {
                        @include font(hero);
                    }
                }
        }
    }

    &_nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 8px;

        &-link {
            display: block;
            padding: 4px 8px;
            border-radius: var(--corner-medium);
            color: var(--color-turquoise-500);
            @include font(caption-semi-caps);
            transition: all .3s ease;

            &:hover,
            &:focus {
                background: var(--color-turquoise-900);
                color: var(--color-turquoise-200);
            }

            &:active {
                background: var(--color-turquoise-800);
            }
        }
    }

    &_content {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        padding: 48px 16px;

        @include media(medium) {
            padding: 80px 32px;
        }


        &-block {
            grid-column: -1 / 1;
            display: flex;
            flex-direction: column;
            gap: 16px;
            padding: 32px 0;
            text-align: center;

            & + & {
                border-top: solid 1px var(--color-border);
            }

            @include media(medium) {
                padding: 32px 0;
                grid-column: 2 / 12;
            }

            @include media(large) {
                padding: 64px 0;
                grid-column: 3 / 11;
            }

            @include media(xlarge) {
                padding: 64px 0;
                grid-column: 3 / 11;
            }
        }

            &-head {
                .title {
                    color: var(--color-text);
                    @include font(subtitle-large-regular);
                }
            }

            &-body {
                figcaption {
                    display: flex;
                    flex-direction: column;
                    gap: 16px;
                    
                    img {
                        max-width: 100%;
                        margin: auto;
                    }
                }
                
                figure {
                    max-width: 80ch;
                    margin: 0 auto;
                    color: var(--color-text-low);
                }
            }
    }
}