@use '../base/mixins' as *;
@use '../base/typography' as *;

.object_detail {
    position: absolute;
    inset: 0;
    z-index: var(--z-detail);
    overflow: auto;
    display: grid;
    grid-template-rows: minmax(50vh, 1fr) 1fr;
    grid-template-columns: minmax(30vw, 4fr) 6fr;
    pointer-events: none;

    &[aria-hidden=true] {
        display: none;
    }

    &-frame {
        grid-column: 1 / -1;
        grid-row: 1 / 2;

        @include media(medium) {
            grid-column: 2/ -1;
            grid-row: 1 / -1;
        }
    }

    &-content {
        position: relative;
        grid-column: 1 / -1;
        grid-row: 2 / -1;

        @include media(medium) {
            grid-column: 1 / 2;
            grid-row: 1 / -1;
        }
    }
}

.object_card {
    display: flex;
    flex-direction: column;
    min-height: 100%;    
    border-radius: var(--corner-large) var(--corner-large) 0 0;
    pointer-events: all;
    
    @include frozen_glass;
    @include gradient_border;

    @include media(medium) {
        --object-top-margin: calc(var(--site-margin-large) + 48px);
        position: absolute;
        inset: var(--object-top-margin) auto var(--site-margin-small) var(--site-margin-small);
        width: calc(100% - var(--site-margin-small));
        min-height: initial;
        overflow: hidden;
        border-radius: var(--corner-large);
    }

    &-head {
        position: relative;
        flex: 0 0 auto;
        padding: 8px 4px;
    }

    &-body {
        flex: auto;
        overflow: auto;
        padding: 16px;
    }

        &-heading {
            display: flex;
            flex-direction: column;
            gap: 8px;
            padding-bottom: 24px;
        }

            &-name {
                @include font(headline);
                color: var(--color-text);
            }

            &-hero {
                position: relative;
                aspect-ratio: 16/9;
                background: var(--color-backdrop);
                overflow: hidden;
                border-radius: var(--corner-large);

                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    @include font(caption-regular);
                    color: var(--color-text-low);
                }
            }

            &-category {
                padding: 16px 0;
            }

            &-description {
                color: var(--color-text-low);
                @include font(body-large);
            }
        
        &-content {
            display: flex;
            flex-direction: column;
            border-top: solid 1px var(--color-border);
        }

           &-unit {
            padding: 24px 8px;

            & + & {
                border-top: solid 1px var(--color-border);
            }
            
            .heading {
                display: flex;
                gap: 8px;
            }

                .title {
                    flex: auto;
                    @include font(body-large);
                    color: var(--color-text-low);
                }

                .info {
                    flex: 0 0 auto;
                    @include font(caption-regular);
                    color: var(--color-text-low);
                }
            
            .value {
                display: inline-flex;
                align-items: baseline;
                gap: 8px;

                .primary {
                    @include font(subtitle-large-regular);
                    color: var(--color-text);
                }

                .secondary {
                    @include font(body-large);
                    color: var(--color-text-low);
                }
            }
           }

            &_graph {
                display: flex;
                flex-direction: column;
                gap: 4px;
                padding: 4px 0;
                
                &-head {
                    display: flex;
                    gap: 8px;
                    color: var(--color-text-low);

                    .label {
                        flex: auto;
                    }

                    .unit {
                        flex: 0 0 auto;
                        @include font(caption-regular);
                    }
                }

                &-body {
                    .graph {
                        display: flex;
                        align-items: center;
                        gap: 8px;
                        padding: 8px 0;
                        
                        .icon_wrap {
                            flex: 0 0 auto;
                            display: flex;
                        }

                            .icon {
                                width: 24px;
                                height: 24px;
                                fill: var(--color-grey-300);
                            }

                        .progress {
                            flex: auto;
                            display: flex;
                            height: 3px;

                            &-pre {
                                position: relative;
                                height: 100%;
                                
                                &:before {
                                    content: '';
                                    position: absolute;
                                    left: 0;
                                    top: 50%;
                                    width: calc(100% - 7px);
                                    height: 100%;
                                    transform: translateY(-50%);
                                    background: var(--color-grey-100);
                                    border-radius: 3px;
                                }

                                .thumb {
                                    position: absolute;
                                    top: 50%;
                                    right: 0;
                                    transform: translate(50%, -50%);
                                    width: 6px;
                                    height: 6px;
                                    border-radius: 6px;
                                    background: var(--color-grey-100);
                                }
                            }

                            &-post {
                                position: relative;
                                flex: auto;
                                height: 100%;
                                
                                &:before {
                                    content: '';
                                    position: absolute;
                                    right: 0;
                                    top: 50%;
                                    width: calc(100% - 7px);
                                    height: 100%;
                                    transform: translateY(-50%);
                                    background: var(--color-grey-600);
                                    border-radius: 3px;
                                }
                            }
                        }
                    }
                }
           }
}

.orbital_elements {
    &-list {
        @include reset_list;
        display: flex;
        padding: 8px 0;
        gap: 8px;
        flex-wrap: wrap;
    }

        &-item {
            flex: auto;
            display: flex;
            align-items: center;
            padding: 4px 0;
            border: solid 1px var(--color-border-strong);
            border-radius: var(--corner-medium);
        }

        &-data {
            flex: auto;
            display: flex;
            justify-content: space-between;
            gap: 8px;
            padding-inline: 8px 2px;
            color: var(--color-text-low);
        }

            &-label {
                flex: 0 0 auto;
            }

            &-value {
                flex: auto;
                text-align: right;
                margin: 0;
            }
}

