@use '../partials/mixins' as *;
@use '../partials/typography' as *;

.onboarding {
    position: absolute;
    inset: 0;
    z-index: var(--z-onboarding);
    overflow: auto;
    background: var(--color-backdrop);
    backdrop-filter: blur(8px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding: calc(var(--header-height) + 16px) 0 var(--site-margin-large);

    &[aria-hidden=true] {
        display: none;
    }

    @include media(medium) {
        gap: 40px;
    }

    &-title {
        padding: 0 var(--site-margin-large);
        text-align: center;
    }

    &-info {
        padding: 0 var(--site-margin-large);
        text-align: center;
    }
}

.exploration {
    width: 100%;
    overflow: auto;

    &::-webkit-scrollbar {
        display: none;
    }
    
    &-list {
        @include reset_list;
        min-width: 100%;
        display: flex;
        gap: 12px;
        padding: 0 var(--site-margin-large);

        @include media(medium) {
            justify-content: center;
        }
    }

        &-item {
            width: 256px;
            flex-shrink: 0;
            min-height: 40vh;
        }

            &_card {
                display: flex;
                flex-direction: column;
                height: 100%;
                gap: 24px;
                @include frozen_glass;
                @include gradient_border;
                border-radius: var(--corner-medium);
                padding: 24px;

                &-body {
                    flex: auto;
                    display: flex;
                    flex-direction: column;
                    gap: 16px;

                    .name {
                        @include font(caption-semi-caps);
                    }

                    .title {
                        @include font(title);
                    }

                    .count {
                        @include font(caption-semi-caps);
                    }
                }

                &-foot {
                    flex: 0 0 auto;
                    
                    .button {
                        width: 100%;
                    }
                }
            }
}