// onboarding.scss

@use '../base/mixins' as *;
@use '../base/typography' as *;

.onboarding {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    z-index: var(--z-onboarding);
    overflow: auto;
    background: var(--color-backdrop);
    backdrop-filter: blur(var(--backdrop-blur));
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    padding: calc(var(--header-height) + 16px) 0 var(--site-margin-large);

    &[aria-hidden=true] {
        display: none;
    }

    @include media(medium) {
        align-items: center;
        
        gap: 40px;        
    }

    &-title {
        padding: 0 var(--site-margin-large);
        color: var(--color-text);
        @include font(subtitle-large-regular);

        @include media(medium) {
            text-align: center;
        }
    }

    &-info {
        padding: 0 var(--site-margin-large);
        color: var(--color-text);

        @include media(medium) {
            text-align: center;
        }
    }

    &--open {
        animation: OnboardingIn 0.3s ease-out forwards;
    }

    &--close {
        animation: OnboardingOut 0.3s ease-in forwards;
    }

    @keyframes OnboardingIn {
        from {
            opacity: 0;
            transform: scale(0.8);
        }
        to {
            opacity: 1;
            transform: scale(1);
        }
    }

    @keyframes OnboardingOut {
        from {
            opacity: 1;
            transform: scale(1);
        }
        to {
            opacity: 0;
            transform: scale(1.2);
        }
    }
}

.exploration {
    width: 100%;
    overflow-x: auto;
    overflow-y: visible;
    @include scrollbar-hidden;
    
    &-list {
        @include reset_list;
        min-width: 100%;
        display: flex;
        gap: 12px;
        padding: 0 var(--site-margin-large);

        @include media(medium) {
            justify-content: center;
        }
    }

        &-item {
            width: 312px;
            flex-shrink: 0;
            min-height: 40vh;
            overflow: hidden;

            .ribbon {
                &[aria-hidden=true] {
                    display: none;
                }
            }

            &.recommended {
                .ribbon {
                    display: block;
                    position: absolute;
                    top: 0;
                    right: 0;
                    padding: 2px 20px;
                    transform: rotate(45deg) translate(14px, -40px);
                    transform-origin: bottom left;
                    background: var(--color-turquoise-600);
                    @include font(overline-small);
                }
                
                .button {
                    background: var(--color-turquoise-600);
                    border: solid 1px var(--color-turquoise-600);
                }
            }
        }

            &_card {
                display: flex;
                flex-direction: column;
                height: 100%;
                gap: 24px;
                @include frozen_glass;
                @include gradient_border;
                border-radius: var(--corner-medium);
                padding: 24px;

                &-body {
                    flex: auto;
                    display: flex;
                    flex-direction: column;
                    gap: 16px;
                    color: var(--color-text);

                    .name {
                        @include font(caption-semi-caps);
                    }

                    .title {
                        @include font(title);
                        @include ellipsis; 
                    }

                    .description {
                        color: var(--color-text-low);
                    }

                    .count {
                        @include font(caption-semi-caps);
                    }
                }

                &-foot {
                    flex: 0 0 auto;
                    
                    .button {
                        width: 100%;
                    }
                }
            }
}