{% from "../partials/icons.njk" import icon %}

{% macro Banner(text = 'Text', classes = '', uniqueIcon = '') %}
<div class="banner {% if classes %} {{ classes }}{% endif %}" aria-hidden="true">
    {% if uniqueIcon %}
        <div class="icon_wrap">
            {{ icon(uniqueIcon) }}
        </div>
    {% endif %}
    <div class="text">
        {{ text }}
    </div>
</div>
{% endmacro %}