{% from '../partials/icons.njk' import icon %}

{% macro ObjectCardGraph(sliderID, title, info, currentValue, maxValue, icons=[]) %}
    <div class="object_card_graph">
        <div class="object_card_graph-head">
            <h3 class="label" id="graph-{{ title | slug }}">{{ title }}</h3>
            <p class="unit" aria-describedby="graph-{{ title | slug }}">{{ info }}</p>
        </div>

        <div class="object_card_graph-body">
            <div class="graph">
                {% if icons[0] %}
                    <div class="icon_wrap">
                        {{ icon(icons[0]) }}
                    </div>
                {% endif %}

                <div class="progress" role="progressbar" 
                    aria-valuenow="{{ currentValue }}" 
                    aria-valuemin="0" 
                    aria-valuemax="{{ maxValue }}"
                    aria-labelledby="graph-{{ title | slug }}">
                   <div id="{{sliderID}}" class="progress-pre" style="width: {{ (currentValue / maxValue * 100) }}%">
                        <div class="thumb" aria-hidden="true"></div>
                    </div>
                    <div class="progress-post" aria-hidden="true"></div>
                </div>

                {% if icons[1] %}
                    <div class="icon_wrap">
                        {{ icon(icons[1]) }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endmacro %}