{% from '../partials/icons.njk' import icon %}

{% macro ObjectCardGraph(title, info, value, icons=[]) %}
    <div class="object_card_graph">
        <div class="object_card_graph-head">
            <h3 class="label">{{ title }}</h3>
            <p class="unit">{{ info }}</p>
        </div>

        <div class="object_card_graph-body">
            <div class="graph">
                {% if icons[0] %}
                    <div class="icon_wrap">
                        {{ icon(icons[0]) }}
                    </div>
                {% endif %}

                <div class="progress">
                    <div class="progress-pre" style="width: 30%">
                        <div class="thumb"></div>
                    </div>
                    <div class="progress-post"></div>
                </div>

                {% if icons[1] %}
                    <div class="icon_wrap">
                        {{ icon(icons[1]) }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endmacro %}