{% from "../partials/icons.njk" import icon %}

{% macro Pointer(id, name = 'Name', type = '', url = '', style = '') %}
<a href="{{ url }}" aria-label="{{ name }} - point of interest" aria-describedby="canvas-pointer-{{ id }}-name" tabindex="0" class="canvas_pointer {{ type }}" style="{{ style }}">
    <span class="canvas_pointer-label">
        <span class="canvas_pointer-icon" aria-hidden="true">
            {{ icon(type) }}
        </span>
        <span class="canvas_pointer-text" id="canvas-pointer-{{ id }}-name">{{ name }}</span>
    </span>
</a>
{% endmacro %}