{% macro RangeSlider(id = "", values = [], minmax = []) %}
<div class="rangeslider" id="{{ id }}">
    <div class="rangeslider_input">
        <div class="track">
            {% if values.length > 1 %}
            <div class="range"></div>
            {% endif %}
        </div>
        <div class="rangeslider_input-thumb thumb_min"
                role="slider" 
                tabindex="0"
                {# aria-valuemin="{{ minmax[0] }}" 
                aria-valuemax="{{ minmax[1] }}"  #}
                aria-valuenow="{{ values[0] }}"
                aria-label="Time range selector">
            <div class="value chip"><span>{{ values[0] }}</span></div>
        </div>
        {% if values.length > 1 %}
        <div class="rangeslider_input-thumb thumb_max""
                role="slider" 
                tabindex="0"
                {# aria-valuemin="{{ minmax[0] }}" 
                aria-valuemax="{{ minmax[1] }}"  #}
                aria-valuenow="{{ values[1] }}"
                aria-label="Time range selector">
            <div class="value chip"><span>{{ values[1] }}</span></div>
        </div>
        {% endif %}
    </div>
    <div class="rangeslider-labels">
        <div class="min">{{ minmax[0] }}</div>
        <div class="max">{{ minmax[1] }}</div>
    </div>
</div>
{% endmacro %}