{% from "../partials/icons.njk" import initSpriteSheet %}
{% from "../partials/icons.njk" import icon %}
{% from "../components/pointer.njk" import Pointer %}
{% from "../components/loader.njk" import Loader %}
{% from "../components/togglegroup.njk" import ToggleGroup %}

<!DOCTYPE html>
<html lang="{{lang}}" data-low="{{solar.low}}" data-medium="{{solar.medium}}" data-high="{{solar.high}}" data-ultra="{{solar.ultra}}">
	{% include 'head.njk' %}

	<body class="{{ pageTemplate }}_template">
        <div class="content"></div>
        {{ initSpriteSheet() }}

        <div class="pointer-templates" aria-hidden="true">
            {{ Pointer(7, 'Planets', 'planets_moons', utils.void) }}
            {{ Pointer(1, 'Asteroids', 'asteroids', utils.void) }}
            {{ Pointer(2, 'NEO', 'near_earth_objects', utils.void) }}
            {{ Pointer(5, 'Comets', 'comets', utils.void) }}
            {{ Pointer(4, 'Centaurs', 'centaurs', utils.void) }}
            {{ Pointer(3, 'TNO', 'trans_neptunian_objects', utils.void) }}
            {{ Pointer(6, 'Interstellar', 'interstellar_objects', utils.void) }}
            {{ Pointer(8, 'Jupiter Trojans', 'trojans', utils.void) }}
            {{ Pointer(9, 'Sun', 'sun_star', utils.void) }}
        </div>

        <div class="view">
            <div class="solar-items" aria-hidden="true"></div>
        </div>

        {% include 'navigation.njk' %}
        {% include 'share.njk' %}
        
        <div class="scene_controls">
            {% include 'timemachine.njk' %}            
            {% include 'mapcontrols.njk' %}
            {# {% if pageTemplate == 'object' %} #}
                {{ ToggleGroup('toggle-view', '', 'object_controls', ['orbit', 'object'], 'object', true, 'Object view selector') }}
            {# {% endif %} #}
        </div>

        <main>
            <a href="/{{lang}}/" tabindex="1" class="site-logo">
                <img src="/assets/images/orbitviewer-logo.svg" class="logo" alt="{{ copy.logo.alt[lang] }}">
            </a>

            <div nomad-wrapper>
	            <div nomad-template="{{ pageTemplate }}">
                    {{ content | safe }}
                </div>
            </div>
        </main>

        {{ Loader(copy.core.loading[lang], copy.core.testing[lang]) }}

        <script defer type="module">
            const src = "/bundle/main.js";
            import(src).then(module => {});
        </script>
	</body>
</html>