{% from "../partials/icons.njk" import initSpriteSheet %}
{% from "../partials/icons.njk" import icon %}

<!DOCTYPE html>
<html lang="en">
	{% include 'head.njk' %}

	<body>
        {{ initSpriteSheet() }}
        <div class="view"></div>

        {{ content | safe }}

        {% include 'toolbar.njk' %}
        {% include 'navigation.njk' %}
        {% include 'timemachine.njk' %}
        {% include 'mapcontrols.njk' %}

        <script defer type="module">
            const src = "./bundle/main.js";
            import(src).then(module => {});
        </script>
	</body>
</html>