// mixins.scss

@use "sass:map";
@use 'sass:math';

@mixin frozen_glass {
    background: 
        linear-gradient(180deg, rgba(255,255,255,.12) 0%, rgba(255,255,255,.09) 100%),
        linear-gradient(180deg, rgba(0,0,0,.8) 0%, rgba(0,0,0,.8) 100%);
    backdrop-filter: blur(var(--backdrop-blur));
}

@mixin reset_list {
    list-style: none;
    margin: 0;
    padding: 0;
}

@mixin ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin scrollbar-hidden {
  scrollbar-color: auto;
  &::-webkit-scrollbar {
      display: none;
  }
}

@mixin scroll-mask {
  overflow: auto;
  mask: linear-gradient(to bottom, rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 0) 100%);
}

@mixin scrollbar-custom {
  --thumb: rgba(var(--color-white-rgb),.5);
  --track: rgba(var(--color-black-rgb),.3);
  
  @supports (scrollbar-color: auto) {
    scrollbar-color: var(--thumb) var(--track);
  }
  
  &::-webkit-scrollbar {
    max-width: 0.5rem;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--thumb);

    &:hover {
      background: rgba(var(--color-white-rgb),.5); 
    }
  }

  &::-webkit-scrollbar-track {
    background: var(--track);
  }
}

@mixin hidden { 
    border: 0;
    padding: 0;
    margin: 0;
    position: absolute !important;
    height: 1px; 
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px); /* legacy browsers */
    clip-path: inset(50%); /*modern browsers, clip-path works inwards from each corner*/
    white-space: nowrap; /* stop words getting smushed together */
}

@mixin arealabel {
    display: flex;
    align-items: center;
    justify-content: center;
    color: grey;
    text-transform: uppercase;
    letter-spacing: .1em;
}

@mixin gradient_border {
    padding: 1px;
    
    &::before {
        content: '';
        position: absolute;
        inset: 0;
        padding: 1px;
        background: linear-gradient(180deg, rgba(255,255,255,.18) 0%, rgba(255,255,255,.08) 53%);
        border-radius: inherit;
        mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
        mask-composite: exclude;
        -webkit-mask-composite: xor;
        pointer-events: none;
    }
}

@mixin spinner($size: large, $speed: .6s) {
  $circle-size: 24px;
  $stroke-width: 1px;
  $color: var(--color-white);
  
  @if ($size == 'small') {
    $circle-size: 20px;
    $stroke-width: 2px;
    $color: var(--color-white);
  } @else if ($size == 'large') {
    $circle-size: 32px;
    $stroke-width: 1px;
    $color: var(--color-turquoise-500);
  }
  
  display: flex;
  align-items: center;
  justify-content: center;
  width: $circle-size;
  height: $circle-size;

  &:before {
      content: '';
      position: absolute;
      inset: 0;
      border-width: $stroke-width;
      border-style: solid;
      border-color: color-mix(in srgb, $color 30%, transparent);
      border-radius: math.div($circle-size, 2);
  }
  
  .fill {
      position: absolute;
      inset: 0;
      border: $stroke-width solid $color;
      border-radius: 50%;
      mask: conic-gradient(from 0deg, black 90deg, transparent 90deg);
      animation: fillRotate $speed linear infinite;

      @keyframes fillRotate {
          from {
              transform: rotate(0deg);
          } to {
              transform: rotate(360deg);
          }
      }
  }
}

$breakpoints: (
  "small": 480px,
  "medium": 768px,
  "large": 1024px,
  "xlarge": 1200px,
  "xxlarge": 1440px
);

@mixin media($breakpoint) {
  @if map.has-key($breakpoints, $breakpoint) {
    @media (min-width: map.get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @warn "No breakpoint found for '#{$breakpoint}'";
  }
}